In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
# pd.set_option('display.max_rows', 1000)

import numpy as np
import matplotlib.pyplot as plt
# matplotlib.use('Agg')
import datetime
import itertools

%matplotlib inline

from model.env_stock_trading.env_stocktrading import StockTradingEnv
from model.stablebaselines3.models import DRLAgent
from model.plot import backtest_stats, backtest_plot, get_baseline, get_daily_return
from stable_baselines3.common.logger import configure
from helpers.missing_data import get_trading_days
from config.config import NIFTY_50, US_25
from data.database.postgres import read_table_from_database, create_connection
from data.data_extraction.feature_preprocessing import data_split, preprocess, calculate_turbulence, combine_dataframes
from helpers.missing_data import find_missing_dates
from sqlalchemy import text
import exchange_calendars as tc
import pytz


from config.config import (
    RESULTS_DIR,
    TRAIN_START_DATE,
    TRAIN_END_DATE,
    TEST_START_DATE,
    TEST_END_DATE,
    TRADE_START_DATE,
    TRADE_END_DATE,
    tech_list
)

In [2]:
missing_dates = find_missing_dates(start_date='2023-04-16', end_date='2023-04-30',
                                   symbols=US_25, table_name='weather_preprocessed', country='US')

In [4]:
tables_list = ['weather_preprocessed', 'daily_minute_prices',
               'technical_indicators', 'ratios', 'tweets_sentiment', 'news_sentiment']

In [ ]:
# dataframes_list = []
# for i in tables_list:

In [394]:
def get_trading_days(start: str, end: str, exchange) -> list[str]:
    nyse = tc.get_calendar(exchange)
    df = nyse.sessions_in_range(start, end)
    trading_days = []
    for day in df:
        trading_days.append(str(day)[:10])

    return trading_days


trading_days = get_trading_days('2023-04-16', '2023-04-30', 'BSE')
times = []
for day in trading_days:
    IN = "Asia/Kolkata"
    current_time = pd.Timestamp(day + " 09:15:00")  # .tz_localize(IN)
    for i in range(390):  # 390 minutes in trading day
        times.append(current_time)
        current_time += pd.Timedelta(minutes=1)

In [395]:
final_df.datetime.min()

Timestamp('2023-04-17 09:15:00')

In [396]:
final_df.datetime.max()

Timestamp('2023-04-28 09:59:00')

In [397]:
final_df.drop_duplicates(subset=['datetime', 'asset_id'], inplace=True)

In [398]:
# # clean data

# tic_list = np.unique(df.asset_id.values)
# print(tic_list)
# KO = "Asia/Kolkata"

# trading_days = get_trading_days(start='2023-04-16', end='2023-04-30', exchange='BSE')
# print(trading_days)
# # produce full timestamp index
# times = []
# for day in trading_days:
#     #                NY = "America/New_York"
#     current_time = pd.Timestamp(day + " 09:15:00").tz_localize(KO)
#     for i in range(390):  # 390 minutes in trading day
#         times.append(current_time)
#         current_time += pd.Timedelta(minutes=1)
# print(times)

# # create a new dataframe with full timestamp series
# new_df = pd.DataFrame()
# for tic in tic_list:
#     tmp_df = pd.DataFrame(
#         columns=["open", "high", "low", "close", "volume"], index=times
#     )
#     tic_df = df[
#         df.asset_id == tic
#     ]  # extract just the rows from downloaded data relating to this tic
#     for i in range(tic_df.shape[0]):  # fill empty DataFrame using original data
#         print('tic_df',tic_df.iloc[i][["open", "high", "low", "close", "volume"]])
#         tmp_df.loc[tic_df.iloc[i]["datetime"].tz_localize(KO)] = tic_df.iloc[
#             i
#         ][["open", "high", "low", "close", "volume"]]
#     # print("(9) tmp_df\n", tmp_df.to_string()) # print ALL dataframe to check for missing rows from download

# #     # if close on start date is NaN, fill data with first valid close
# #     # and set volume to 0.
# #     if str(tmp_df.iloc[0]["close"]) == "nan":
# #         print("NaN data on start date, fill using first valid data.")
# #         for i in range(tmp_df.shape[0]):
# #             if str(tmp_df.iloc[i]["close"]) != "nan":
# #                 first_valid_close = tmp_df.iloc[i]["close"]
# #                 tmp_df.iloc[0] = [
# #                     first_valid_close,
# #                     first_valid_close,
# #                     first_valid_close,
# #                     first_valid_close,
# #                     0.0,
# #                 ]
# #                 break

# #     # if the close price of the first row is still NaN (All the prices are NaN in this case)
# #     if str(tmp_df.iloc[0]["close"]) == "nan":
# #         print(
# #             "Missing data for ticker: ",
# #             tic,
# #             " . The prices are all NaN. Fill with 0.",
# #         )
# #         tmp_df.iloc[0] = [
# #             0.0,
# #             0.0,
# #             0.0,
# #             0.0,
# #             0.0,
# #         ]

# #     # fill NaN data with previous close and set volume to 0.
# #     for i in range(tmp_df.shape[0]):
# #         if str(tmp_df.iloc[i]["close"]) == "nan":
# #             previous_close = tmp_df.iloc[i - 1]["close"]
# #             if str(previous_close) == "nan":
# #                 raise ValueError
# #             tmp_df.iloc[i] = [
# #                 previous_close,
# #                 previous_close,
# #                 previous_close,
# #                 previous_close,
# #                 0.0,
# #             ]
# #             # print(tmp_df.iloc[i], " Filled NaN data with previous close and set volume to 0. ticker: ", tic)

# #     # merge single ticker data to new DataFrame
# #     tmp_df = tmp_df.astype(float)
# #     tmp_df["asset_id"] = tic
# #     new_df = pd.concat([new_df, tmp_df])

# # #            print(("Data clean for ") + tic + (" is finished."))

# # # reset index and rename columns
# # new_df = new_df.reset_index()
# # new_df = new_df.rename(columns={"index": "datetime"})
# # new_df

In [399]:
# symbols = ['AAPL', 'MSFT', 'AMZN', 'NVDA', 'GOOGL', 'NKE', 'GOOG',
#          'TSLA', 'UNH', 'META', 'XOM', 'JNJ', 'JPM', 'V', 'PG', 'HD', 'MA', 'ABBV',
#          'CVX', 'AVGO', 'MRK', 'LLY', 'PEP', 'KO', 'PFE']
symbols = ['ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BPCL', 'BHARTIARTL',
           'BRITANNIA', 'CIPLA', 'COALINDIA', 'DIVISLAB', 'DRREDDY', 'EICHERMOT', 'GRASIM', 'HCLTECH', 'HDFCBANK',
           'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'HDFC', 'ICICIBANK', 'ITC', 'INDUSINDBK', 'INFY', 'JSWSTEEL', 'KOTAKBANK',
           'LT', 'M&M', 'MARUTI', 'NTPC', 'NESTLEIND', 'ONGC', 'POWERGRID', 'RELIANCE', 'SHREECEM',
           'SBIN', 'SUNPHARMA', 'TCS', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TECHM', 'TITAN', 'UPL', 'ULTRACEMCO', 'WIPRO']

In [400]:
import itertools

finalDF = pd.DataFrame()
for symbol in symbols:
    # df = pd.DataFrame()
    date_symbol_combination = list(itertools.product(times, [symbol]))
    date_asset_df = pd.DataFrame(date_symbol_combination, columns=[
                                 'datetime', 'asset_id'])
    print(date_asset_df)
    print('-----------------------')
    asset_df = final_df.loc[final_df['asset_id'] == symbol]
    print(asset_df)
    print('---------------------------')
    df = pd.merge(date_asset_df, asset_df, on=[
                  'datetime', 'asset_id'], how='left')
    print(df)
    print('----------------------------')
    df = df.fillna(method='bfill').fillna(method='ffill')
    print(df)
    print('-------------------------------------------')
    finalDF = pd.concat([finalDF, df], axis=0, ignore_index=True)

                datetime    asset_id
0    2023-04-17 09:15:00  ADANIPORTS
1    2023-04-17 09:16:00  ADANIPORTS
2    2023-04-17 09:17:00  ADANIPORTS
3    2023-04-17 09:18:00  ADANIPORTS
4    2023-04-17 09:19:00  ADANIPORTS
...                  ...         ...
3895 2023-04-28 15:40:00  ADANIPORTS
3896 2023-04-28 15:41:00  ADANIPORTS
3897 2023-04-28 15:42:00  ADANIPORTS
3898 2023-04-28 15:43:00  ADANIPORTS
3899 2023-04-28 15:44:00  ADANIPORTS

[3900 rows x 2 columns]
-----------------------
        asset_id country       date  maxtempc  mintempc  pressure  visibility  \
0     ADANIPORTS   INDIA 2023-04-17      36.2      22.6    1004.8         9.8
1     ADANIPORTS   INDIA 2023-04-17      36.2      22.6    1004.8         9.8
2     ADANIPORTS   INDIA 2023-04-17      36.2      22.6    1004.8         9.8
3     ADANIPORTS   INDIA 2023-04-17      36.2      22.6    1004.8         9.8
4     ADANIPORTS   INDIA 2023-04-17      36.2      22.6    1004.8         9.8
...          ...     ...        ...       ...       ...       ...         ...
5242  ADANIPORTS   INDIA 2023-04-28      33.4      22.6    1008.6         9.4
5243  ADANIPORTS   INDIA 2023-04-28      33.4      22.6    1008.6         9.4
5244  ADANIPORTS   INDIA 2023-04-28      33.4      22.6    1008.6         9.4
5245  ADANIPORTS   INDIA 2023-04-28      33.4      22.6    1008.6         9.4
5246  ADANIPORTS   INDIA 2023-04-28      33.4      22.6    1008.6         9.4

      humidity  windspeedkmph  precipmm  ...     vwma_50      sma_50   eps  \
0         48.0           20.0      3.28  ...  581.138061  615.976002  0.05
1         48.0           20.0      3.28  ...  581.138061  615.976002  0.05
2         48.0           20.0      3.28  ...  581.138061  615.976002  0.05
3         48.0           20.0      3.28  ...  581.138061  615.976002  0.05
4         48.0           20.0      3.28  ...  581.138061  615.976002  0.05
...        ...            ...       ...  ...         ...         ...   ...
5242      57.2           16.0      6.88  ...  636.008092  637.178000   NaN
5243      57.2           16.0      6.88  ...  636.008092  637.178000   NaN
5244      57.2           16.0      6.88  ...  636.008092  637.178000   NaN
5245      57.2           16.0      6.88  ...  636.008092  637.178000   NaN
5246      57.2           16.0      6.88  ...  636.008092  637.178000   NaN

        opm   roe    pbt      pe  netprofit  tweets_sentiment  news_sentiment
0     59.92 -4.51  23.27 -112.21       11.4           0.08406             NaN
1     59.92 -4.51  23.27 -112.21       11.4           0.08406             NaN
2     59.92 -4.51  23.27 -112.21       11.4           0.08406             NaN
3     59.92 -4.51  23.27 -112.21       11.4           0.08406             NaN
4     59.92 -4.51  23.27 -112.21       11.4           0.08406             NaN
...     ...   ...    ...     ...        ...               ...             ...
5242    NaN   NaN    NaN     NaN        NaN               NaN             NaN
5243    NaN   NaN    NaN     NaN        NaN               NaN             NaN
5244    NaN   NaN    NaN     NaN        NaN               NaN             NaN
5245    NaN   NaN    NaN     NaN        NaN               NaN             NaN
5246    NaN   NaN    NaN     NaN        NaN               NaN             NaN

[4872 rows x 121 columns]
---------------------------
                datetime    asset_id country       date  maxtempc  mintempc  \
0    2023-04-17 09:15:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
1    2023-04-17 09:16:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
2    2023-04-17 09:17:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
3    2023-04-17 09:18:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
4    2023-04-17 09:19:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
...                  ...         ...     ...        ...       ...       ...
3895 2023-04-28 15:40:00  ADANIPORTS     NaN        NaT       NaN       NaN
3896 2023-04-28 15:41:00  ADANIPORTS     NaN        NaT       NaN       NaN
3897 2023-04-28 15:42:00  ADANIPORTS     NaN        NaT       NaN       NaN
3898 2023-04-28 15:43:00  ADANIPORTS     NaN        NaT       NaN       NaN
3899 2023-04-28 15:44:00  ADANIPORTS     NaN        NaT       NaN       NaN

      pressure  visibility  humidity  windspeedkmph  ...     vwma_50  \
0       1004.8         9.8      48.0           20.0  ...  581.138061
1       1004.8         9.8      48.0           20.0  ...  581.138061
2       1004.8         9.8      48.0           20.0  ...  581.138061
3       1004.8         9.8      48.0           20.0  ...  581.138061
4       1004.8         9.8      48.0           20.0  ...  581.138061
...        ...         ...       ...            ...  ...         ...
3895       NaN         NaN       NaN            NaN  ...         NaN
3896       NaN         NaN       NaN            NaN  ...         NaN
3897       NaN         NaN       NaN            NaN  ...         NaN
3898       NaN         NaN       NaN            NaN  ...         NaN
3899       NaN         NaN       NaN            NaN  ...         NaN

          sma_50   eps    opm   roe    pbt      pe  netprofit  \
0     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
1     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
2     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
3     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
4     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
...          ...   ...    ...   ...    ...     ...        ...
3895         NaN   NaN    NaN   NaN    NaN     NaN        NaN
3896         NaN   NaN    NaN   NaN    NaN     NaN        NaN
3897         NaN   NaN    NaN   NaN    NaN     NaN        NaN
3898         NaN   NaN    NaN   NaN    NaN     NaN        NaN
3899         NaN   NaN    NaN   NaN    NaN     NaN        NaN

      tweets_sentiment  news_sentiment
0              0.08406             NaN
1              0.08406             NaN
2              0.08406             NaN
3              0.08406             NaN
4              0.08406             NaN
...                ...             ...
3895               NaN             NaN
3896               NaN             NaN
3897               NaN             NaN
3898               NaN             NaN
3899               NaN             NaN

[3900 rows x 121 columns]
----------------------------
                datetime    asset_id country       date  maxtempc  mintempc  \
0    2023-04-17 09:15:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
1    2023-04-17 09:16:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
2    2023-04-17 09:17:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
3    2023-04-17 09:18:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
4    2023-04-17 09:19:00  ADANIPORTS   INDIA 2023-04-17      36.2      22.6
...                  ...         ...     ...        ...       ...       ...
3895 2023-04-28 15:40:00  ADANIPORTS   INDIA 2023-04-28      33.4      22.6
3896 2023-04-28 15:41:00  ADANIPORTS   INDIA 2023-04-28      33.4      22.6
3897 2023-04-28 15:42:00  ADANIPORTS   INDIA 2023-04-28      33.4      22.6
3898 2023-04-28 15:43:00  ADANIPORTS   INDIA 2023-04-28      33.4      22.6
3899 2023-04-28 15:44:00  ADANIPORTS   INDIA 2023-04-28      33.4      22.6

      pressure  visibility  humidity  windspeedkmph  ...     vwma_50  \
0       1004.8         9.8      48.0           20.0  ...  581.138061
1       1004.8         9.8      48.0           20.0  ...  581.138061
2       1004.8         9.8      48.0           20.0  ...  581.138061
3       1004.8         9.8      48.0           20.0  ...  581.138061
4       1004.8         9.8      48.0           20.0  ...  581.138061
...        ...         ...       ...            ...  ...         ...
3895    1008.6         9.4      57.2           16.0  ...  636.008092
3896    1008.6         9.4      57.2           16.0  ...  636.008092
3897    1008.6         9.4      57.2           16.0  ...  636.008092
3898    1008.6         9.4      57.2           16.0  ...  636.008092
3899    1008.6         9.4      57.2           16.0  ...  636.008092

          sma_50   eps    opm   roe    pbt      pe  netprofit  \
0     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
1     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
2     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
3     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
4     615.976002  0.05  59.92 -4.51  23.27 -112.21       11.4
...          ...   ...    ...   ...    ...     ...        ...
3895  637.178000  0.05  59.92 -4.51  23.27 -113.78       11.4
3896  637.178000  0.05  59.92 -4.51  23.27 -113.78       11.4
3897  637.178000  0.05  59.92 -4.51  23.27 -113.78       11.4
3898  637.178000  0.05  59.92 -4.51  23.27 -113.78       11.4
3899  637.178000  0.05  59.92 -4.51  23.27 -113.78       11.4

      tweets_sentiment  news_sentiment
0             0.084060        0.607513
1             0.084060        0.607513
2             0.084060        0.607513
3             0.084060        0.607513
4             0.084060        0.607513
...                ...             ...
3895          0.089113        0.497433
3896          0.089113        0.497433
3897          0.089113        0.497433
3898          0.089113        0.497433
3899          0.089113        0.497433

[3900 rows x 121 columns]
-------------------------------------------
                datetime    asset_id
0    2023-04-17 09:15:00  APOLLOHOSP
1    2023-04-17 09:16:00  APOLLOHOSP
2    2023-04-17 09:17:00  APOLLOHOSP
3    2023-04-17 09:18:00  APOLLOHOSP
4    2023-04-17 09:19:00  APOLLOHOSP
...                  ...         ...
3895 2023-04-28 15:40:00  APOLLOHOSP
3896 2023-04-28 15:41:00  APOLLOHOSP
3897 2023-04-28 15:42:00  APOLLOHOSP
3898 2023-04-28 15:43:00  APOLLOHOSP
3899 2023-04-28 15:44:00  APOLLOHOSP

[3900 rows x 2 columns]
-----------------------
         asset_id country       date  maxtempc  mintempc  pressure  \
5247   APOLLOHOSP   INDIA 2023-04-17      36.2      22.6    1004.8
5248   APOLLOHOSP   INDIA 2023-04-17      36.2      22.6    1004.8
5249   APOLLOHOSP   INDIA 2023-04-17      36.2      22.6    1004.8
5250   APOLLOHOSP   INDIA 2023-04-17      36.2      22.6    1004.8
5251   APOLLOHOSP   INDIA 2023-04-17      36.2      22.6    1004.8
...           ...     ...        ...       ...       ...       ...
10487  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6    1008.6
10488  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6    1008.6
10489  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6    1008.6
10490  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6    1008.6
10491  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6    1008.6

       visibility  humidity  windspeedkmph  precipmm  ...      vwma_50  \
5247          9.8      48.0           20.0      3.28  ...  4383.819965
5248          9.8      48.0           20.0      3.28  ...  4383.819965
5249          9.8      48.0           20.0      3.28  ...  4383.819965
5250          9.8      48.0           20.0      3.28  ...  4383.819965
5251          9.8      48.0           20.0      3.28  ...  4383.819965
...           ...       ...            ...       ...  ...          ...
10487         9.4      57.2           16.0      6.88  ...  4396.194615
10488         9.4      57.2           16.0      6.88  ...  4396.194615
10489         9.4      57.2           16.0      6.88  ...  4396.194615
10490         9.4      57.2           16.0      6.88  ...  4396.194615
10491         9.4      57.2           16.0      6.88  ...  4396.194615

            sma_50    eps    opm    roe     pbt     pe  netprofit  \
5247   4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
5248   4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
5249   4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
5250   4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
5251   4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
...            ...    ...    ...    ...     ...    ...        ...
10487  4371.801973    NaN    NaN    NaN     NaN    NaN        NaN
10488  4371.801973    NaN    NaN    NaN     NaN    NaN        NaN
10489  4371.801973    NaN    NaN    NaN     NaN    NaN        NaN
10490  4371.801973    NaN    NaN    NaN     NaN    NaN        NaN
10491  4371.801973    NaN    NaN    NaN     NaN    NaN        NaN

       tweets_sentiment  news_sentiment
5247           0.072943             NaN
5248           0.072943             NaN
5249           0.072943             NaN
5250           0.072943             NaN
5251           0.072943             NaN
...                 ...             ...
10487               NaN             NaN
10488               NaN             NaN
10489               NaN             NaN
10490               NaN             NaN
10491               NaN             NaN

[4870 rows x 121 columns]
---------------------------
                datetime    asset_id country       date  maxtempc  mintempc  \
0    2023-04-17 09:15:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
1    2023-04-17 09:16:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
2    2023-04-17 09:17:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
3    2023-04-17 09:18:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
4    2023-04-17 09:19:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
...                  ...         ...     ...        ...       ...       ...
3895 2023-04-28 15:40:00  APOLLOHOSP     NaN        NaT       NaN       NaN
3896 2023-04-28 15:41:00  APOLLOHOSP     NaN        NaT       NaN       NaN
3897 2023-04-28 15:42:00  APOLLOHOSP     NaN        NaT       NaN       NaN
3898 2023-04-28 15:43:00  APOLLOHOSP     NaN        NaT       NaN       NaN
3899 2023-04-28 15:44:00  APOLLOHOSP     NaN        NaT       NaN       NaN

      pressure  visibility  humidity  windspeedkmph  ...      vwma_50  \
0       1004.8         9.8      48.0           20.0  ...  4383.819965
1       1004.8         9.8      48.0           20.0  ...  4383.819965
2       1004.8         9.8      48.0           20.0  ...  4383.819965
3       1004.8         9.8      48.0           20.0  ...  4383.819965
4       1004.8         9.8      48.0           20.0  ...  4383.819965
...        ...         ...       ...            ...  ...          ...
3895       NaN         NaN       NaN            NaN  ...          NaN
3896       NaN         NaN       NaN            NaN  ...          NaN
3897       NaN         NaN       NaN            NaN  ...          NaN
3898       NaN         NaN       NaN            NaN  ...          NaN
3899       NaN         NaN       NaN            NaN  ...          NaN

           sma_50    eps    opm    roe     pbt     pe  netprofit  \
0     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
1     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
2     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
3     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
4     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
...           ...    ...    ...    ...     ...    ...        ...
3895          NaN    NaN    NaN    NaN     NaN    NaN        NaN
3896          NaN    NaN    NaN    NaN     NaN    NaN        NaN
3897          NaN    NaN    NaN    NaN     NaN    NaN        NaN
3898          NaN    NaN    NaN    NaN     NaN    NaN        NaN
3899          NaN    NaN    NaN    NaN     NaN    NaN        NaN

      tweets_sentiment  news_sentiment
0             0.072943             NaN
1             0.072943             NaN
2             0.072943             NaN
3             0.072943             NaN
4             0.072943             NaN
...                ...             ...
3895               NaN             NaN
3896               NaN             NaN
3897               NaN             NaN
3898               NaN             NaN
3899               NaN             NaN

[3900 rows x 121 columns]
----------------------------
                datetime    asset_id country       date  maxtempc  mintempc  \
0    2023-04-17 09:15:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
1    2023-04-17 09:16:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
2    2023-04-17 09:17:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
3    2023-04-17 09:18:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
4    2023-04-17 09:19:00  APOLLOHOSP   INDIA 2023-04-17      36.2      22.6
...                  ...         ...     ...        ...       ...       ...
3895 2023-04-28 15:40:00  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6
3896 2023-04-28 15:41:00  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6
3897 2023-04-28 15:42:00  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6
3898 2023-04-28 15:43:00  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6
3899 2023-04-28 15:44:00  APOLLOHOSP   INDIA 2023-04-28      33.4      22.6

      pressure  visibility  humidity  windspeedkmph  ...      vwma_50  \
0       1004.8         9.8      48.0           20.0  ...  4383.819965
1       1004.8         9.8      48.0           20.0  ...  4383.819965
2       1004.8         9.8      48.0           20.0  ...  4383.819965
3       1004.8         9.8      48.0           20.0  ...  4383.819965
4       1004.8         9.8      48.0           20.0  ...  4383.819965
...        ...         ...       ...            ...  ...          ...
3895    1008.6         9.4      57.2           16.0  ...  4396.194615
3896    1008.6         9.4      57.2           16.0  ...  4396.194615
3897    1008.6         9.4      57.2           16.0  ...  4396.194615
3898    1008.6         9.4      57.2           16.0  ...  4396.194615
3899    1008.6         9.4      57.2           16.0  ...  4396.194615

           sma_50    eps    opm    roe     pbt     pe  netprofit  \
0     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
1     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
2     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
3     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
4     4357.966982  17.08  28.81  15.48  323.12  62.49     245.59
...           ...    ...    ...    ...     ...    ...        ...
3895  4371.801973  17.08  28.81  15.48  323.12  62.59     245.59
3896  4371.801973  17.08  28.81  15.48  323.12  62.59     245.59
3897  4371.801973  17.08  28.81  15.48  323.12  62.59     245.59
3898  4371.801973  17.08  28.81  15.48  323.12  62.59     245.59
3899  4371.801973  17.08  28.81  15.48  323.12  62.59     245.59

      tweets_sentiment  news_sentiment
0             0.072943        0.678725
1             0.072943        0.678725
2             0.072943        0.678725
3             0.072943        0.678725
4             0.072943        0.678725
...                ...             ...
3895          0.302540        0.372850
3896          0.302540        0.372850
3897          0.302540        0.372850
3898          0.302540        0.372850
3899          0.302540        0.372850

[3900 rows x 121 columns]
-------------------------------------------
                datetime    asset_id
0    2023-04-17 09:15:00  ASIANPAINT
1    2023-04-17 09:16:00  ASIANPAINT
2    2023-04-17 09:17:00  ASIANPAINT
3    2023-04-17 09:18:00  ASIANPAINT
4    2023-04-17 09:19:00  ASIANPAINT
...                  ...         ...
3895 2023-04-28 15:40:00  ASIANPAINT
3896 2023-04-28 15:41:00  ASIANPAINT
3897 2023-04-28 15:42:00  ASIANPAINT
3898 2023-04-28 15:43:00  ASIANPAINT
3899 2023-04-28 15:44:00  ASIANPAINT

[3900 rows x 2 columns]
-----------------------
         asset_id country       date  maxtempc  mintempc  pressure  \
10492  ASIANPAINT   INDIA 2023-04-17      36.2      22.6    1004.8
10493  ASIANPAINT   INDIA 2023-04-17      36.2      22.6    1004.8
10494  ASIANPAINT   INDIA 2023-04-17      36.2      22.6    1004.8
10495  ASIANPAINT   INDIA 2023-04-17      36.2      22.6    1004.8
10496  ASIANPAINT   INDIA 2023-04-17      36.2      22.6    1004.8
...           ...     ...        ...       ...       ...       ...

In [401]:
finalDF.datetime.max()

Timestamp('2023-04-28 15:44:00')

In [402]:
finalDF.drop(columns=['country'], inplace=True)
finalDF.rename(columns={'asset_id': 'tic', 'date': 'Date',
               'datetime': 'date'}, inplace=True)
print(finalDF.columns)
finalDF.drop_duplicates(subset=['tic', 'date'], inplace=True)
finalDF.sort_values(by=['date', 'tic'], ignore_index=True, inplace=True)
train = data_split(finalDF, '2023-04-17 09:15:00', '2023-04-28 15:44:00')
# trade = data_split(processed_full, TRADE_START_DATE,TRADE_END_DATE)
print(len(train))
# print(len(trade))

Index(['date', 'tic', 'Date', 'maxtempc', 'mintempc', 'pressure', 'visibility',
       'humidity', 'windspeedkmph', 'precipmm',
       ...
       'vwma_50', 'sma_50', 'eps', 'opm', 'roe', 'pbt', 'pe', 'netprofit',
       'tweets_sentiment', 'news_sentiment'],
      dtype='object', length=120)
187200

In [403]:
train.loc[(train['tic'] == 'ADANIPORTS') & (train['Date'] == '2023-04-18')]

,date,tic,Date,maxtempc,mintempc,pressure,visibility,humidity,windspeedkmph,precipmm,...,vwma_50,sma_50,eps,opm,roe,pbt,pe,netprofit,tweets_sentiment,news_sentiment
375,2023-04-17 15:30:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
376,2023-04-17 15:31:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
377,2023-04-17 15:32:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
378,2023-04-17 15:33:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
379,2023-04-17 15:34:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,2023-04-18 15:25:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
761,2023-04-18 15:26:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
762,2023-04-18 15:27:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
763,2023-04-18 15:28:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513
764,2023-04-18 15:29:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.4,0.10212,0.607513

In [404]:
for symbol in symbols:
    for day in trading_days:
        print((train.loc[(train['tic'] == symbol)
              & (train['Date'] == day)]).shape)
        print(symbol, day)
        print('-------------------')

(375, 120)
ADANIPORTS 2023-04-17
-------------------
(390, 120)
ADANIPORTS 2023-04-18
-------------------
(390, 120)
ADANIPORTS 2023-04-19
-------------------
(390, 120)
ADANIPORTS 2023-04-20
-------------------
(390, 120)
ADANIPORTS 2023-04-21
-------------------
(390, 120)
ADANIPORTS 2023-04-24
-------------------
(197, 120)
ADANIPORTS 2023-04-25
-------------------
(253, 120)
ADANIPORTS 2023-04-26
-------------------
(390, 120)
ADANIPORTS 2023-04-27
-------------------
(735, 120)
ADANIPORTS 2023-04-28
-------------------
(375, 120)
APOLLOHOSP 2023-04-17
-------------------
(390, 120)
APOLLOHOSP 2023-04-18
-------------------
(390, 120)
APOLLOHOSP 2023-04-19
-------------------
(390, 120)
APOLLOHOSP 2023-04-20
-------------------
(390, 120)
APOLLOHOSP 2023-04-21
-------------------
(390, 120)
APOLLOHOSP 2023-04-24
-------------------
(197, 120)
APOLLOHOSP 2023-04-25
-------------------
(253, 120)
APOLLOHOSP 2023-04-26
-------------------
(390, 120)
APOLLOHOSP 2023-04-27
-------------------
(735, 120)
APOLLOHOSP 2023-04-28
-------------------
(375, 120)
ASIANPAINT 2023-04-17
-------------------
(390, 120)
ASIANPAINT 2023-04-18
-------------------
(390, 120)
ASIANPAINT 2023-04-19
-------------------
(390, 120)
ASIANPAINT 2023-04-20
-------------------
(390, 120)
ASIANPAINT 2023-04-21
-------------------
(390, 120)
ASIANPAINT 2023-04-24
-------------------
(197, 120)
ASIANPAINT 2023-04-25
-------------------
(253, 120)
ASIANPAINT 2023-04-26
-------------------
(390, 120)
ASIANPAINT 2023-04-27
-------------------
(735, 120)
ASIANPAINT 2023-04-28
-------------------
(375, 120)
AXISBANK 2023-04-17
-------------------
(390, 120)
AXISBANK 2023-04-18
-------------------
(390, 120)
AXISBANK 2023-04-19
-------------------
(390, 120)
AXISBANK 2023-04-20
-------------------
(390, 120)
AXISBANK 2023-04-21
-------------------
(390, 120)
AXISBANK 2023-04-24
-------------------
(197, 120)
AXISBANK 2023-04-25
-------------------
(253, 120)
AXISBANK 2023-04-26
-------------------
(390, 120)
AXISBANK 2023-04-27
-------------------
(735, 120)
AXISBANK 2023-04-28
-------------------
(375, 120)
BAJAJ-AUTO 2023-04-17
-------------------
(390, 120)
BAJAJ-AUTO 2023-04-18
-------------------
(390, 120)
BAJAJ-AUTO 2023-04-19
-------------------
(390, 120)
BAJAJ-AUTO 2023-04-20
-------------------
(390, 120)
BAJAJ-AUTO 2023-04-21
-------------------
(390, 120)
BAJAJ-AUTO 2023-04-24
-------------------
(197, 120)
BAJAJ-AUTO 2023-04-25
-------------------
(253, 120)
BAJAJ-AUTO 2023-04-26
-------------------
(390, 120)
BAJAJ-AUTO 2023-04-27
-------------------
(735, 120)
BAJAJ-AUTO 2023-04-28
-------------------
(375, 120)
BAJFINANCE 2023-04-17
-------------------
(390, 120)
BAJFINANCE 2023-04-18
-------------------
(390, 120)
BAJFINANCE 2023-04-19
-------------------
(390, 120)
BAJFINANCE 2023-04-20
-------------------
(390, 120)
BAJFINANCE 2023-04-21
-------------------
(390, 120)
BAJFINANCE 2023-04-24
-------------------
(197, 120)
BAJFINANCE 2023-04-25
-------------------
(253, 120)
BAJFINANCE 2023-04-26
-------------------
(390, 120)
BAJFINANCE 2023-04-27
-------------------
(735, 120)
BAJFINANCE 2023-04-28
-------------------
(375, 120)
BAJAJFINSV 2023-04-17
-------------------
(390, 120)
BAJAJFINSV 2023-04-18
-------------------
(390, 120)
BAJAJFINSV 2023-04-19
-------------------
(390, 120)
BAJAJFINSV 2023-04-20
-------------------
(390, 120)
BAJAJFINSV 2023-04-21
-------------------
(390, 120)
BAJAJFINSV 2023-04-24
-------------------
(197, 120)
BAJAJFINSV 2023-04-25
-------------------
(253, 120)
BAJAJFINSV 2023-04-26
-------------------
(390, 120)
BAJAJFINSV 2023-04-27
-------------------
(735, 120)
BAJAJFINSV 2023-04-28
-------------------
(375, 120)
BPCL 2023-04-17
-------------------
(390, 120)
BPCL 2023-04-18
-------------------
(390, 120)
BPCL 2023-04-19
-------------------
(390, 120)
BPCL 2023-04-20
-------------------
(390, 120)
BPCL 2023-04-21
-------------------
(390, 120)
BPCL 2023-04-24
-------------------
(197, 120)
BPCL 2023-04-25
-------------------
(253, 120)
BPCL 2023-04-26
-------------------
(390, 120)
BPCL 2023-04-27
-------------------
(735, 120)
BPCL 2023-04-28
-------------------
(375, 120)
BHARTIARTL 2023-04-17
-------------------
(390, 120)
BHARTIARTL 2023-04-18
-------------------
(390, 120)
BHARTIARTL 2023-04-19
-------------------
(390, 120)
BHARTIARTL 2023-04-20
-------------------
(390, 120)
BHARTIARTL 2023-04-21
-------------------
(390, 120)
BHARTIARTL 2023-04-24
-------------------
(197, 120)
BHARTIARTL 2023-04-25
-------------------
(253, 120)
BHARTIARTL 2023-04-26
-------------------
(390, 120)
BHARTIARTL 2023-04-27
-------------------
(735, 120)
BHARTIARTL 2023-04-28
-------------------
(375, 120)
BRITANNIA 2023-04-17
-------------------
(390, 120)
BRITANNIA 2023-04-18
-------------------
(390, 120)
BRITANNIA 2023-04-19
-------------------
(390, 120)
BRITANNIA 2023-04-20
-------------------
(390, 120)
BRITANNIA 2023-04-21
-------------------
(390, 120)
BRITANNIA 2023-04-24
-------------------
(197, 120)
BRITANNIA 2023-04-25
-------------------
(253, 120)
BRITANNIA 2023-04-26
-------------------
(390, 120)
BRITANNIA 2023-04-27
-------------------
(735, 120)
BRITANNIA 2023-04-28
-------------------
(375, 120)
CIPLA 2023-04-17
-------------------
(390, 120)
CIPLA 2023-04-18
-------------------
(390, 120)
CIPLA 2023-04-19
-------------------
(390, 120)
CIPLA 2023-04-20
-------------------
(390, 120)
CIPLA 2023-04-21
-------------------
(390, 120)
CIPLA 2023-04-24
-------------------
(197, 120)
CIPLA 2023-04-25
-------------------
(253, 120)
CIPLA 2023-04-26
-------------------
(390, 120)
CIPLA 2023-04-27
-------------------
(735, 120)
CIPLA 2023-04-28
-------------------
(375, 120)
COALINDIA 2023-04-17
-------------------
(390, 120)
COALINDIA 2023-04-18
-------------------
(390, 120)
COALINDIA 2023-04-19
-------------------
(390, 120)
COALINDIA 2023-04-20
-------------------
(390, 120)
COALINDIA 2023-04-21
-------------------
(390, 120)
COALINDIA 2023-04-24
-------------------
(197, 120)
COALINDIA 2023-04-25
-------------------
(253, 120)
COALINDIA 2023-04-26
-------------------
(390, 120)
COALINDIA 2023-04-27
-------------------
(735, 120)
COALINDIA 2023-04-28
-------------------
(375, 120)
DIVISLAB 2023-04-17
-------------------
(390, 120)
DIVISLAB 2023-04-18
-------------------
(390, 120)
DIVISLAB 2023-04-19
-------------------
(390, 120)
DIVISLAB 2023-04-20
-------------------
(390, 120)
DIVISLAB 2023-04-21
-------------------
(390, 120)
DIVISLAB 2023-04-24
-------------------
(197, 120)
DIVISLAB 2023-04-25
-------------------
(253, 120)
DIVISLAB 2023-04-26
-------------------
(389, 120)
DIVISLAB 2023-04-27
-------------------
(736, 120)
DIVISLAB 2023-04-28
-------------------
(375, 120)
DRREDDY 2023-04-17
-------------------
(390, 120)
DRREDDY 2023-04-18
-------------------
(390, 120)
DRREDDY 2023-04-19
-------------------
(390, 120)
DRREDDY 2023-04-20
-------------------
(390, 120)
DRREDDY 2023-04-21
-------------------
(390, 120)
DRREDDY 2023-04-24
-------------------
(197, 120)
DRREDDY 2023-04-25
-------------------
(253, 120)
DRREDDY 2023-04-26
-------------------
(390, 120)
DRREDDY 2023-04-27
-------------------
(735, 120)
DRREDDY 2023-04-28
-------------------
(375, 120)
EICHERMOT 2023-04-17
-------------------
(390, 120)
EICHERMOT 2023-04-18
-------------------
(390, 120)
EICHERMOT 2023-04-19
-------------------
(390, 120)
EICHERMOT 2023-04-20
-------------------
(390, 120)
EICHERMOT 2023-04-21
-------------------
(390, 120)
EICHERMOT 2023-04-24
-------------------
(197, 120)
EICHERMOT 2023-04-25
-------------------
(253, 120)
EICHERMOT 2023-04-26
-------------------
(389, 120)
EICHERMOT 2023-04-27
-------------------
(736, 120)
EICHERMOT 2023-04-28
-------------------
(375, 120)
GRASIM 2023-04-17
-------------------
(390, 120)
GRASIM 2023-04-18
-------------------
(390, 120)
GRASIM 2023-04-19
-------------------
(390, 120)
GRASIM 2023-04-20
-------------------
(390, 120)
GRASIM 2023-04-21
-------------------
(390, 120)
GRASIM 2023-04-24
-------------------
(197, 120)
GRASIM 2023-04-25
-------------------
(253, 120)
GRASIM 2023-04-26
-------------------
(390, 120)
GRASIM 2023-04-27
-------------------
(735, 120)
GRASIM 2023-04-28
-------------------
(375, 120)
HCLTECH 2023-04-17
-------------------
(390, 120)
HCLTECH 2023-04-18
-------------------
(390, 120)
HCLTECH 2023-04-19
-------------------
(390, 120)
HCLTECH 2023-04-20
-------------------
(390, 120)
HCLTECH 2023-04-21
-------------------
(390, 120)
HCLTECH 2023-04-24
-------------------
(197, 120)
HCLTECH 2023-04-25
-------------------
(253, 120)
HCLTECH 2023-04-26
-------------------
(390, 120)
HCLTECH 2023-04-27
-------------------
(735, 120)
HCLTECH 2023-04-28
-------------------
(375, 120)
HDFCBANK 2023-04-17
-------------------
(390, 120)
HDFCBANK 2023-04-18
-------------------
(390, 120)
HDFCBANK 2023-04-19
-------------------
(390, 120)
HDFCBANK 2023-04-20
-------------------
(390, 120)
HDFCBANK 2023-04-21
-------------------
(390, 120)
HDFCBANK 2023-04-24
-------------------
(197, 120)
HDFCBANK 2023-04-25
-------------------
(253, 120)
HDFCBANK 2023-04-26
-------------------
(389, 120)
HDFCBANK 2023-04-27
-------------------
(736, 120)
HDFCBANK 2023-04-28
-------------------
(375, 120)
HEROMOTOCO 2023-04-17
-------------------
(390, 120)
HEROMOTOCO 2023-04-18
-------------------
(390, 120)
HEROMOTOCO 2023-04-19
-------------------
(390, 120)
HEROMOTOCO 2023-04-20
-------------------
(390, 120)
HEROMOTOCO 2023-04-21
-------------------
(390, 120)
HEROMOTOCO 2023-04-24
-------------------
(197, 120)
HEROMOTOCO 2023-04-25
-------------------
(253, 120)
HEROMOTOCO 2023-04-26
-------------------
(390, 120)
HEROMOTOCO 2023-04-27
-------------------
(735, 120)
HEROMOTOCO 2023-04-28
-------------------
(375, 120)
HINDALCO 2023-04-17
-------------------
(390, 120)
HINDALCO 2023-04-18
-------------------
(390, 120)
HINDALCO 2023-04-19
-------------------
(390, 120)
HINDALCO 2023-04-20
-------------------
(390, 120)
HINDALCO 2023-04-21
-------------------
(390, 120)
HINDALCO 2023-04-24
-------------------
(197, 120)
HINDALCO 2023-04-25
-------------------
(253, 120)
HINDALCO 2023-04-26
-------------------
(390, 120)
HINDALCO 2023-04-27
-------------------
(735, 120)
HINDALCO 2023-04-28
-------------------
(375, 120)
HINDUNILVR 2023-04-17
-------------------
(390, 120)
HINDUNILVR 2023-04-18
-------------------
(390, 120)
HINDUNILVR 2023-04-19
-------------------
(390, 120)
HINDUNILVR 2023-04-20
-------------------
(390, 120)
HINDUNILVR 2023-04-21
-------------------
(390, 120)
HINDUNILVR 2023-04-24
-------------------
(197, 120)
HINDUNILVR 2023-04-25
-------------------
(253, 120)
HINDUNILVR 2023-04-26
-------------------
(390, 120)
HINDUNILVR 2023-04-27
-------------------
(735, 120)
HINDUNILVR 2023-04-28
-------------------
(375, 120)
HDFC 2023-04-17
-------------------
(390, 120)
HDFC 2023-04-18
-------------------
(390, 120)
HDFC 2023-04-19
-------------------
(390, 120)
HDFC 2023-04-20
-------------------
(390, 120)
HDFC 2023-04-21
-------------------
(390, 120)
HDFC 2023-04-24
-------------------
(197, 120)
HDFC 2023-04-25
-------------------
(253, 120)
HDFC 2023-04-26
-------------------
(390, 120)
HDFC 2023-04-27
-------------------
(735, 120)
HDFC 2023-04-28
-------------------
(375, 120)
ICICIBANK 2023-04-17
-------------------
(390, 120)
ICICIBANK 2023-04-18
-------------------
(390, 120)
ICICIBANK 2023-04-19
-------------------
(390, 120)
ICICIBANK 2023-04-20
-------------------
(390, 120)
ICICIBANK 2023-04-21
-------------------
(390, 120)
ICICIBANK 2023-04-24
-------------------
(197, 120)
ICICIBANK 2023-04-25
-------------------
(253, 120)
ICICIBANK 2023-04-26
-------------------
(390, 120)
ICICIBANK 2023-04-27
-------------------
(735, 120)
ICICIBANK 2023-04-28
-------------------
(375, 120)
ITC 2023-04-17
-------------------
(390, 120)
ITC 2023-04-18
-------------------
(390, 120)
ITC 2023-04-19
-------------------
(390, 120)
ITC 2023-04-20
-------------------
(390, 120)
ITC 2023-04-21
-------------------
(390, 120)
ITC 2023-04-24
-------------------
(197, 120)
ITC 2023-04-25
-------------------
(253, 120)
ITC 2023-04-26
-------------------
(390, 120)
ITC 2023-04-27
-------------------
(735, 120)
ITC 2023-04-28
-------------------
(375, 120)
INDUSINDBK 2023-04-17
-------------------
(390, 120)
INDUSINDBK 2023-04-18
-------------------
(390, 120)
INDUSINDBK 2023-04-19
-------------------
(390, 120)
INDUSINDBK 2023-04-20
-------------------
(390, 120)
INDUSINDBK 2023-04-21
-------------------
(390, 120)
INDUSINDBK 2023-04-24
-------------------
(197, 120)
INDUSINDBK 2023-04-25
-------------------
(253, 120)
INDUSINDBK 2023-04-26
-------------------
(390, 120)
INDUSINDBK 2023-04-27
-------------------
(735, 120)
INDUSINDBK 2023-04-28
-------------------
(375, 120)
INFY 2023-04-17
-------------------
(390, 120)
INFY 2023-04-18
-------------------
(390, 120)
INFY 2023-04-19
-------------------
(390, 120)
INFY 2023-04-20
-------------------
(390, 120)
INFY 2023-04-21
-------------------
(390, 120)
INFY 2023-04-24
-------------------
(197, 120)
INFY 2023-04-25
-------------------
(253, 120)
INFY 2023-04-26
-------------------
(390, 120)
INFY 2023-04-27
-------------------
(735, 120)
INFY 2023-04-28
-------------------
(375, 120)
JSWSTEEL 2023-04-17
-------------------
(390, 120)
JSWSTEEL 2023-04-18
-------------------
(390, 120)
JSWSTEEL 2023-04-19
-------------------
(390, 120)
JSWSTEEL 2023-04-20
-------------------
(390, 120)
JSWSTEEL 2023-04-21
-------------------
(390, 120)
JSWSTEEL 2023-04-24
-------------------
(197, 120)
JSWSTEEL 2023-04-25
-------------------
(253, 120)
JSWSTEEL 2023-04-26
-------------------
(390, 120)
JSWSTEEL 2023-04-27
-------------------
(735, 120)
JSWSTEEL 2023-04-28
-------------------
(375, 120)
KOTAKBANK 2023-04-17
-------------------
(390, 120)
KOTAKBANK 2023-04-18
-------------------
(390, 120)
KOTAKBANK 2023-04-19
-------------------
(390, 120)
KOTAKBANK 2023-04-20
-------------------
(390, 120)
KOTAKBANK 2023-04-21
-------------------
(390, 120)
KOTAKBANK 2023-04-24
-------------------
(197, 120)
KOTAKBANK 2023-04-25
-------------------
(253, 120)
KOTAKBANK 2023-04-26
-------------------
(390, 120)
KOTAKBANK 2023-04-27
-------------------
(735, 120)
KOTAKBANK 2023-04-28
-------------------
(375, 120)
LT 2023-04-17
-------------------
(390, 120)
LT 2023-04-18
-------------------
(390, 120)
LT 2023-04-19
-------------------
(390, 120)
LT 2023-04-20
-------------------
(390, 120)
LT 2023-04-21
-------------------
(390, 120)
LT 2023-04-24
-------------------
(197, 120)
LT 2023-04-25
-------------------
(253, 120)
LT 2023-04-26
-------------------
(390, 120)
LT 2023-04-27
-------------------
(735, 120)
LT 2023-04-28
-------------------
(375, 120)
M&M 2023-04-17
-------------------
(390, 120)
M&M 2023-04-18
-------------------
(390, 120)
M&M 2023-04-19
-------------------
(390, 120)
M&M 2023-04-20
-------------------
(390, 120)
M&M 2023-04-21
-------------------
(390, 120)
M&M 2023-04-24
-------------------
(197, 120)
M&M 2023-04-25
-------------------
(253, 120)
M&M 2023-04-26
-------------------
(390, 120)
M&M 2023-04-27
-------------------
(735, 120)
M&M 2023-04-28
-------------------
(375, 120)
MARUTI 2023-04-17
-------------------
(390, 120)
MARUTI 2023-04-18
-------------------
(390, 120)
MARUTI 2023-04-19
-------------------
(390, 120)
MARUTI 2023-04-20
-------------------
(390, 120)
MARUTI 2023-04-21
-------------------
(390, 120)
MARUTI 2023-04-24
-------------------
(197, 120)
MARUTI 2023-04-25
-------------------
(253, 120)
MARUTI 2023-04-26
-------------------
(390, 120)
MARUTI 2023-04-27
-------------------
(735, 120)
MARUTI 2023-04-28
-------------------
(375, 120)
NTPC 2023-04-17
-------------------
(390, 120)
NTPC 2023-04-18
-------------------
(390, 120)
NTPC 2023-04-19
-------------------
(390, 120)
NTPC 2023-04-20
-------------------
(390, 120)
NTPC 2023-04-21
-------------------
(390, 120)
NTPC 2023-04-24
-------------------
(197, 120)
NTPC 2023-04-25
-------------------
(253, 120)
NTPC 2023-04-26
-------------------
(390, 120)
NTPC 2023-04-27
-------------------
(735, 120)
NTPC 2023-04-28
-------------------
(375, 120)
NESTLEIND 2023-04-17
-------------------
(390, 120)
NESTLEIND 2023-04-18
-------------------
(390, 120)
NESTLEIND 2023-04-19
-------------------
(390, 120)
NESTLEIND 2023-04-20
-------------------
(390, 120)
NESTLEIND 2023-04-21
-------------------
(390, 120)
NESTLEIND 2023-04-24
-------------------
(197, 120)
NESTLEIND 2023-04-25
-------------------
(253, 120)
NESTLEIND 2023-04-26
-------------------
(390, 120)
NESTLEIND 2023-04-27
-------------------
(735, 120)
NESTLEIND 2023-04-28
-------------------
(375, 120)
ONGC 2023-04-17
-------------------
(390, 120)
ONGC 2023-04-18
-------------------
(390, 120)
ONGC 2023-04-19
-------------------
(390, 120)
ONGC 2023-04-20
-------------------
(390, 120)
ONGC 2023-04-21
-------------------
(390, 120)
ONGC 2023-04-24
-------------------
(197, 120)
ONGC 2023-04-25
-------------------
(253, 120)
ONGC 2023-04-26
-------------------
(390, 120)
ONGC 2023-04-27
-------------------
(735, 120)
ONGC 2023-04-28
-------------------
(375, 120)
POWERGRID 2023-04-17
-------------------
(390, 120)
POWERGRID 2023-04-18
-------------------
(390, 120)
POWERGRID 2023-04-19
-------------------
(390, 120)
POWERGRID 2023-04-20
-------------------
(390, 120)
POWERGRID 2023-04-21
-------------------
(390, 120)
POWERGRID 2023-04-24
-------------------
(197, 120)
POWERGRID 2023-04-25
-------------------
(253, 120)
POWERGRID 2023-04-26
-------------------
(390, 120)
POWERGRID 2023-04-27
-------------------
(735, 120)
POWERGRID 2023-04-28
-------------------
(375, 120)
RELIANCE 2023-04-17
-------------------
(390, 120)
RELIANCE 2023-04-18
-------------------
(390, 120)
RELIANCE 2023-04-19
-------------------
(390, 120)
RELIANCE 2023-04-20
-------------------
(390, 120)
RELIANCE 2023-04-21
-------------------
(390, 120)
RELIANCE 2023-04-24
-------------------
(197, 120)
RELIANCE 2023-04-25
-------------------
(253, 120)
RELIANCE 2023-04-26
-------------------
(390, 120)
RELIANCE 2023-04-27
-------------------
(735, 120)
RELIANCE 2023-04-28
-------------------
(375, 120)
SHREECEM 2023-04-17
-------------------
(390, 120)
SHREECEM 2023-04-18
-------------------
(390, 120)
SHREECEM 2023-04-19
-------------------
(390, 120)
SHREECEM 2023-04-20
-------------------
(390, 120)
SHREECEM 2023-04-21
-------------------
(390, 120)
SHREECEM 2023-04-24
-------------------
(197, 120)
SHREECEM 2023-04-25
-------------------
(253, 120)
SHREECEM 2023-04-26
-------------------
(390, 120)
SHREECEM 2023-04-27
-------------------
(735, 120)
SHREECEM 2023-04-28
-------------------
(375, 120)
SBIN 2023-04-17
-------------------
(390, 120)
SBIN 2023-04-18
-------------------
(390, 120)
SBIN 2023-04-19
-------------------
(390, 120)
SBIN 2023-04-20
-------------------
(390, 120)
SBIN 2023-04-21
-------------------
(390, 120)
SBIN 2023-04-24
-------------------
(197, 120)
SBIN 2023-04-25
-------------------
(253, 120)
SBIN 2023-04-26
-------------------
(390, 120)
SBIN 2023-04-27
-------------------
(735, 120)
SBIN 2023-04-28
-------------------
(375, 120)
SUNPHARMA 2023-04-17
-------------------
(390, 120)
SUNPHARMA 2023-04-18
-------------------
(390, 120)
SUNPHARMA 2023-04-19
-------------------
(390, 120)
SUNPHARMA 2023-04-20
-------------------
(390, 120)
SUNPHARMA 2023-04-21
-------------------
(390, 120)
SUNPHARMA 2023-04-24
-------------------
(197, 120)
SUNPHARMA 2023-04-25
-------------------
(253, 120)
SUNPHARMA 2023-04-26
-------------------
(390, 120)
SUNPHARMA 2023-04-27
-------------------
(735, 120)
SUNPHARMA 2023-04-28
-------------------
(375, 120)
TCS 2023-04-17
-------------------
(390, 120)
TCS 2023-04-18
-------------------
(390, 120)
TCS 2023-04-19
-------------------
(390, 120)
TCS 2023-04-20
-------------------
(390, 120)
TCS 2023-04-21
-------------------
(390, 120)
TCS 2023-04-24
-------------------
(197, 120)
TCS 2023-04-25

In [406]:
train.iloc[train.index == 589]

,date,tic,Date,maxtempc,mintempc,pressure,visibility,humidity,windspeedkmph,precipmm,...,vwma_50,sma_50,eps,opm,roe,pbt,pe,netprofit,tweets_sentiment,news_sentiment
589,2023-04-18 12:34:00,ADANIPORTS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,580.234432,617.135002,0.05,59.92,-4.51,23.27,-112.76,11.40,0.102120,0.607513
589,2023-04-18 12:34:00,APOLLOHOSP,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,4387.497929,4359.533994,17.08,28.81,15.48,323.12,62.39,245.59,0.198771,0.678725
589,2023-04-18 12:34:00,ASIANPAINT,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2797.550920,2800.852007,11.32,22.03,27.58,1442.98,72.39,1085.88,0.092600,0.244586
589,2023-04-18 12:34:00,AXISBANK,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,853.652787,853.900996,19.04,43.05,15.60,9277.49,13.69,5853.07,0.002400,0.374489
589,2023-04-18 12:34:00,BAJAJ-AUTO,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,3899.346780,3880.461997,52.70,21.96,24.76,1963.50,21.23,1491.42,0.001911,0.654043
589,2023-04-18 12:34:00,BAJAJFINSV,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1320.796316,1328.820010,0.00,4.69,14.27,0.71,288.51,0.49,0.000000,0.072325
589,2023-04-18 12:34:00,BAJFINANCE,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,5955.111431,5990.793008,17.74,68.63,21.21,1584.70,37.10,1022.73,0.133967,0.470371
589,2023-04-18 12:34:00,BHARTIARTL,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,763.770452,765.652003,-5.69,33.83,-5.17,-2880.50,-104.38,-3222.30,0.000000,-0.138750
589,2023-04-18 12:34:00,BPCL,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,337.084460,332.839000,9.20,3.51,-5.72,2125.84,-29.07,1959.58,0.057350,0.051913
589,2023-04-18 12:34:00,BRITANNIA,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,4409.655522,4393.939023,31.84,26.58,107.48,980.58,52.35,766.93,0.155431,0.386180
589,2023-04-18 12:34:00,CIPLA,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,917.786673,933.122004,8.41,27.32,11.94,928.42,26.04,678.52,0.151100,0.407520
589,2023-04-18 12:34:00,COALINDIA,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,218.076226,218.454999,14.29,1279.31,89.69,8883.46,9.15,8809.07,-0.014667,0.635940
589,2023-04-18 12:34:00,DIVISLAB,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2919.296746,2880.182007,11.71,31.11,19.65,439.11,35.39,310.90,-0.071150,0.647600
589,2023-04-18 12:34:00,DRREDDY,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,4503.309440,4505.730000,24.89,29.19,21.32,913.83,36.31,680.70,0.027442,0.457140
589,2023-04-18 12:34:00,EICHERMOT,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,3123.931665,3120.222993,3.93,9.36,6.39,215.00,36.62,257.36,0.003350,0.752800
589,2023-04-18 12:34:00,GRASIM,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1620.244448,1619.694998,11.80,39.07,28.83,4125.00,24.35,3196.00,0.042286,0.295333
589,2023-04-18 12:34:00,HCLTECH,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1095.279085,1100.059990,11.80,39.07,28.83,4125.00,24.35,3196.00,0.169593,0.683030
589,2023-04-18 12:34:00,HDFC,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2648.036194,2645.339990,12.29,96.08,12.57,2868.80,32.44,2113.80,0.044711,0.902433
589,2023-04-18 12:34:00,HDFCBANK,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1614.075774,1619.859004,21.99,44.54,16.57,19024.07,22.09,12259.49,-0.340095,0.556190
589,2023-04-18 12:34:00,HEROMOTOCO,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2474.673934,2467.178008,35.58,13.79,16.30,940.44,18.39,711.06,0.199800,0.397667
589,2023-04-18 12:34:00,HINDALCO,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,414.204737,417.061999,2.24,7.80,7.09,707.00,23.53,498.00,0.025288,0.046686
589,2023-04-18 12:34:00,HINDUNILVR,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2522.385856,2518.537012,10.67,24.05,19.81,3377.00,61.50,2505.00,0.200950,0.387550
589,2023-04-18 12:34:00,ICICIBANK,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,861.944278,858.825004,11.92,46.56,16.32,13271.22,21.11,8311.85,0.023579,0.613000
589,2023-04-18 12:34:00,INDUSINDBK,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1082.031780,1090.515995,25.27,38.92,13.29,3680.38,13.00,1959.20,0.000000,0.649000
589,2023-04-18 12:34:00,INFY,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1435.874898,1477.972007,14.20,28.54,34.35,7957.00,22.43,5904.00,0.112889,0.189920
589,2023-04-18 12:34:00,ITC,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,380.175624,382.600001,4.06,41.09,27.77,6677.52,27.85,5031.01,0.143750,0.750610
589,2023-04-18 12:34:00,JSWSTEEL,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,693.710121,694.797001,5.14,14.05,7.90,1738.00,36.81,1234.00,0.261100,0.414744
589,2023-04-18 12:34:00,KOTAKBANK,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1737.695516,1743.978003,14.06,42.78,13.25,3849.84,36.86,2791.88,-0.013178,0.475400
589,2023-04-18 12:34:00,LT,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2182.176613,2181.630000,12.99,11.34,11.65,2306.94,40.15,1825.44,0.154580,0.017344
589,2023-04-18 12:34:00,M&M,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1245.849078,1253.332996,12.76,13.19,15.41,1957.62,23.78,1528.06,0.076095,0.481430
589,2023-04-18 12:34:00,MARUTI,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,8582.261318,8594.774043,77.84,12.72,13.01,2954.20,36.08,2351.30,0.058662,0.451317
589,2023-04-18 12:34:00,NESTLEIND,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,19074.630468,18997.745977,65.14,23.55,97.86,859.07,81.14,628.06,0.314733,0.327150
589,2023-04-18 12:34:00,NTPC,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,172.979318,172.487001,4.62,33.75,12.87,7790.97,9.61,4476.25,0.095450,0.541740
589,2023-04-18 12:34:00,ONGC,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,152.614201,152.347000,8.78,52.40,18.58,14672.04,4.20,11044.73,-0.039372,-0.444756
589,2023-04-18 12:34:00,POWERGRID,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,222.303209,221.858001,5.31,94.04,18.81,3764.76,10.68,3701.72,0.077457,0.865980
589,2023-04-18 12:34:00,RELIANCE,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2324.547636,2329.015996,12.38,13.61,8.62,11732.00,38.61,8373.00,0.068614,0.359190
589,2023-04-18 12:34:00,SBIN,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,532.173276,532.204998,15.92,29.12,13.99,25219.28,11.38,14205.34,0.104007,-0.021289
589,2023-04-18 12:34:00,SHREECEM,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,25412.658485,25433.892930,76.70,21.36,8.10,384.20,64.58,276.77,0.199800,0.929100
589,2023-04-18 12:34:00,SUNPHARMA,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,982.822662,984.067001,2.00,22.98,5.48,506.08,167.98,486.73,0.185714,0.763110
589,2023-04-18 12:34:00,TATACONSUM,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,713.374930,715.004998,2.56,16.88,7.75,319.63,73.14,237.26,0.000000,0.620267
589,2023-04-18 12:34:00,TATAMOTORS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,437.228714,433.383000,1.31,9.46,2.32,560.22,351.48,506.19,0.210255,0.482880
589,2023-04-18 12:34:00,TATASTEEL,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,108.552970,108.245000,2.21,19.90,15.08,3617.28,6.78,2705.13,0.224814,0.343240
589,2023-04-18 12:34:00,TCS,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,3290.865872,3316.286001,26.79,28.73,52.46,13045.00,29.38,9800.00,0.185975,0.482840
589,2023-04-18 12:34:00,TECHM,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,1093.139074,1082.845999,12.34,16.05,17.07,1509.80,23.40,1204.40,0.056142,0.695890
589,2023-04-18 12:34:00,TITAN,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,2459.759001,2466.248999,10.71,13.07,29.93,1267.00,74.80,951.00,0.156528,0.539260
589,2023-04-18 12:34:00,ULTRACEMCO,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,7322.547442,7330.968047,34.48,15.35,11.39,1455.80,39.04,994.23,0.040460,0.646820
589,2023-04-18 12:34:00,UPL,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,725.753946,723.504008,4.30,17.39,26.61,415.00,30.05,323.00,0.153407,0.557560
589,2023-04-18 12:34:00,WIPRO,2023-04-18,36.0,22.4,1007.0,9.2,46.8,20.4,0.26,...,384.164025,384.907999,4.40,22.30,21.17,3227.10,16.01,2413.10,0.038938,0.497860

In [407]:
stock_dimension = len(train.tic.unique())
state_space = 1 + 2*stock_dimension + len(tech_list)*stock_dimension
print(f"Stock Dimension: {stock_dimension}, State Space: {state_space}")

Stock Dimension: 48, State Space: 2785

In [408]:
buy_cost_list = sell_cost_list = [0.001] * stock_dimension
num_stock_shares = [0] * stock_dimension

env_kwargs = {
    "hmax": 50,
    "initial_amount": 100000,
    "num_stock_shares": num_stock_shares,
    "buy_cost_pct": buy_cost_list,
    "sell_cost_pct": sell_cost_list,
    "state_space": state_space,
    "stock_dim": stock_dimension,
    "tech_indicator_list": tech_list,
    "action_space": stock_dimension,
    "reward_scaling": 1e-4
}


e_train_gym = StockTradingEnv(df=train, **env_kwargs)

In [409]:
env_train, obs_train = e_train_gym.get_sb_env()
print(type(env_train))

<class 'stable_baselines3.common.vec_env.dummy_vec_env.DummyVecEnv'>

In [410]:
agent = DRLAgent(env=env_train)
if_using_ppo = True

In [411]:
agent = DRLAgent(env=env_train)
PPO_PARAMS = {
    "n_steps": 2048,
    "ent_coef": 0.01,
    "learning_rate": 0.00025,
    "batch_size": 128,
    "target_kl": 0.05
}
model_ppo = agent.get_model("ppo", model_kwargs=PPO_PARAMS)

if if_using_ppo:
    # set up logger
    tmp_path = RESULTS_DIR + '/ppo'
    new_logger_ppo = configure(tmp_path, ["stdout", "csv", "tensorboard"])
    # Set new logger
    model_ppo.set_logger(new_logger_ppo)

{'n_steps': 2048, 'ent_coef': 0.01, 'learning_rate': 0.00025, 'batch_size': 128, 'target_kl': 0.05}
Using cpu device
Logging to result/ppo

In [384]:
trained_ppo = agent.train_model(model=model_ppo,
                                tb_log_name='ppo',
                                total_timesteps=50000) if if_using_ppo else None

-------------------------------------
| time/              |              |
|    fps             | 39           |
|    iterations      | 1            |
|    time_elapsed    | 51           |
|    total_timesteps | 2048         |
| train/             |              |
|    reward          | -0.001803027 |
-------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 38            |
|    iterations           | 2             |
|    time_elapsed         | 106           |
|    total_timesteps      | 4096          |
| train/                  |               |
|    approx_kl            | 0.019480957   |
|    clip_fraction        | 0.229         |
|    clip_range           | 0.2           |
|    entropy_loss         | -68.2         |
|    explained_variance   | -3.56         |
|    learning_rate        | 0.00025       |
|    loss                 | -0.711        |
|    n_updates            | 10            |
|    policy_gradient_loss | -0.0367       |
|    reward               | -0.0018943954 |
|    std                  | 1             |
|    value_loss           | 0.107         |
-------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 37           |
|    iterations           | 3            |
|    time_elapsed         | 162          |
|    total_timesteps      | 6144         |
| train/                  |              |
|    approx_kl            | 0.028136434  |
|    clip_fraction        | 0.286        |
|    clip_range           | 0.2          |
|    entropy_loss         | -68.3        |
|    explained_variance   | -0.486       |
|    learning_rate        | 0.00025      |
|    loss                 | -0.75        |
|    n_updates            | 20           |
|    policy_gradient_loss | -0.0449      |
|    reward               | -0.001936311 |
|    std                  | 1.01         |
|    value_loss           | 0.0163       |
------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 34           |
|    iterations           | 4            |
|    time_elapsed         | 237          |
|    total_timesteps      | 8192         |
| train/                  |              |
|    approx_kl            | 0.024264691  |
|    clip_fraction        | 0.278        |
|    clip_range           | 0.2          |
|    entropy_loss         | -68.5        |
|    explained_variance   | -9.22        |
|    learning_rate        | 0.00025      |
|    loss                 | -0.746       |
|    n_updates            | 30           |
|    policy_gradient_loss | -0.0437      |
|    reward               | 0.0055631143 |
|    std                  | 1.01         |
|    value_loss           | 0.00823      |
------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 33           |
|    iterations           | 5            |
|    time_elapsed         | 309          |
|    total_timesteps      | 10240        |
| train/                  |              |
|    approx_kl            | 0.023861473  |
|    clip_fraction        | 0.256        |
|    clip_range           | 0.2          |
|    entropy_loss         | -68.7        |
|    explained_variance   | -0.333       |
|    learning_rate        | 0.00025      |
|    loss                 | -0.745       |
|    n_updates            | 40           |
|    policy_gradient_loss | -0.0462      |
|    reward               | 8.027527e-06 |
|    std                  | 1.02         |
|    value_loss           | 0.00628      |
------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 33           |
|    iterations           | 6            |
|    time_elapsed         | 365          |
|    total_timesteps      | 12288        |
| train/                  |              |
|    approx_kl            | 0.022497272  |
|    clip_fraction        | 0.238        |
|    clip_range           | 0.2          |
|    entropy_loss         | -68.9        |
|    explained_variance   | -8.55        |
|    learning_rate        | 0.00025      |
|    loss                 | -0.767       |
|    n_updates            | 50           |
|    policy_gradient_loss | -0.0548      |
|    reward               | -0.015982771 |
|    std                  | 1.02         |
|    value_loss           | 0.00329      |
------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 33          |
|    iterations           | 7           |
|    time_elapsed         | 423         |
|    total_timesteps      | 14336       |
| train/                  |             |
|    approx_kl            | 0.024099238 |
|    clip_fraction        | 0.254       |
|    clip_range           | 0.2         |
|    entropy_loss         | -69         |
|    explained_variance   | -0.189      |
|    learning_rate        | 0.00025     |
|    loss                 | -0.743      |
|    n_updates            | 60          |
|    policy_gradient_loss | -0.0489     |
|    reward               | -0.00018403 |
|    std                  | 1.02        |
|    value_loss           | 0.00401     |
-----------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 33           |
|    iterations           | 8            |
|    time_elapsed         | 486          |
|    total_timesteps      | 16384        |
| train/                  |              |
|    approx_kl            | 0.025003148  |
|    clip_fraction        | 0.259        |
|    clip_range           | 0.2          |
|    entropy_loss         | -69.2        |
|    explained_variance   | -3.37        |
|    learning_rate        | 0.00025      |
|    loss                 | -0.756       |
|    n_updates            | 70           |
|    policy_gradient_loss | -0.0538      |
|    reward               | -0.009977839 |
|    std                  | 1.02         |
|    value_loss           | 0.00223      |
------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 33          |
|    iterations           | 9           |
|    time_elapsed         | 553         |
|    total_timesteps      | 18432       |
| train/                  |             |
|    approx_kl            | 0.021545973 |
|    clip_fraction        | 0.238       |
|    clip_range           | 0.2         |
|    entropy_loss         | -69.4       |
|    explained_variance   | -0.295      |
|    learning_rate        | 0.00025     |
|    loss                 | -0.752      |
|    n_updates            | 80          |
|    policy_gradient_loss | -0.0489     |
|    reward               | 0.0         |
|    std                  | 1.03        |
|    value_loss           | 0.00295     |
-----------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 32            |
|    iterations           | 10            |
|    time_elapsed         | 621           |
|    total_timesteps      | 20480         |
| train/                  |               |
|    approx_kl            | 0.020491049   |
|    clip_fraction        | 0.223         |
|    clip_range           | 0.2           |
|    entropy_loss         | -69.6         |
|    explained_variance   | -5.3          |
|    learning_rate        | 0.00025       |
|    loss                 | -0.772        |
|    n_updates            | 90            |
|    policy_gradient_loss | -0.0532       |
|    reward               | -0.0005098426 |
|    std                  | 1.03          |
|    value_loss           | 0.0015        |
-------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 32           |
|    iterations           | 11           |
|    time_elapsed         | 689          |
|    total_timesteps      | 22528        |
| train/                  |              |
|    approx_kl            | 0.021053148  |
|    clip_fraction        | 0.231        |
|    clip_range           | 0.2          |
|    entropy_loss         | -69.7        |
|    explained_variance   | -0.107       |
|    learning_rate        | 0.00025      |
|    loss                 | -0.755       |
|    n_updates            | 100          |
|    policy_gradient_loss | -0.0471      |
|    reward               | -0.002061045 |
|    std                  | 1.04         |
|    value_loss           | 0.00287      |
------------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 32            |
|    iterations           | 12            |
|    time_elapsed         | 757           |
|    total_timesteps      | 24576         |
| train/                  |               |
|    approx_kl            | 0.023335773   |
|    clip_fraction        | 0.248         |
|    clip_range           | 0.2           |
|    entropy_loss         | -69.9         |
|    explained_variance   | -0.364        |
|    learning_rate        | 0.00025       |
|    loss                 | -0.756        |
|    n_updates            | 110           |
|    policy_gradient_loss | -0.0534       |
|    reward               | -0.0025144503 |
|    std                  | 1.04          |
|    value_loss           | 0.00131       |
-------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 32          |
|    iterations           | 13          |
|    time_elapsed         | 828         |
|    total_timesteps      | 26624       |
| train/                  |             |
|    approx_kl            | 0.018471213 |
|    clip_fraction        | 0.222       |
|    clip_range           | 0.2         |
|    entropy_loss         | -70         |
|    explained_variance   | -0.233      |
|    learning_rate        | 0.00025     |
|    loss                 | -0.762      |
|    n_updates            | 120         |
|    policy_gradient_loss | -0.0459     |
|    reward               | -0.00169251 |
|    std                  | 1.04        |
|    value_loss           | 0.00265     |
-----------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 32            |
|    iterations           | 14            |
|    time_elapsed         | 894           |
|    total_timesteps      | 28672         |
| train/                  |               |
|    approx_kl            | 0.023219487   |
|    clip_fraction        | 0.243         |
|    clip_range           | 0.2           |
|    entropy_loss         | -70.1         |
|    explained_variance   | -0.0688       |
|    learning_rate        | 0.00025       |
|    loss                 | -0.757        |
|    n_updates            | 130           |
|    policy_gradient_loss | -0.0526       |
|    reward               | -0.0031977228 |
|    std                  | 1.04          |
|    value_loss           | 0.000831      |
-------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 32          |
|    iterations           | 15          |
|    time_elapsed         | 959         |
|    total_timesteps      | 30720       |
| train/                  |             |
|    approx_kl            | 0.02090649  |
|    clip_fraction        | 0.252       |
|    clip_range           | 0.2         |
|    entropy_loss         | -70.2       |
|    explained_variance   | -0.332      |
|    learning_rate        | 0.00025     |
|    loss                 | -0.738      |
|    n_updates            | 140         |
|    policy_gradient_loss | -0.0483     |
|    reward               | -7.6155e-05 |
|    std                  | 1.05        |
|    value_loss           | 0.00219     |
-----------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 31            |
|    iterations           | 16            |
|    time_elapsed         | 1024          |
|    total_timesteps      | 32768         |
| train/                  |               |
|    approx_kl            | 0.021923035   |
|    clip_fraction        | 0.239         |
|    clip_range           | 0.2           |
|    entropy_loss         | -70.4         |
|    explained_variance   | 0.0352        |
|    learning_rate        | 0.00025       |
|    loss                 | -0.774        |
|    n_updates            | 150           |
|    policy_gradient_loss | -0.049        |
|    reward               | -0.0020406893 |
|    std                  | 1.05          |
|    value_loss           | 0.00061       |
-------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 31          |
|    iterations           | 17          |
|    time_elapsed         | 1090        |
|    total_timesteps      | 34816       |
| train/                  |             |
|    approx_kl            | 0.026445374 |
|    clip_fraction        | 0.281       |
|    clip_range           | 0.2         |
|    entropy_loss         | -70.5       |
|    explained_variance   | -0.233      |
|    learning_rate        | 0.00025     |
|    loss                 | -0.774      |
|    n_updates            | 160         |
|    policy_gradient_loss | -0.0445     |
|    reward               | -5.1305e-05 |
|    std                  | 1.05        |
|    value_loss           | 0.00272     |
-----------------------------------------
day: 3899, episode: 10
begin_total_asset: 100000.00
end_total_asset: 5809.70
total_reward: -94190.30
total_cost: 91754.69
total_trades: 100989
Sharpe: -11.233
=================================
------------------------------------------
| time/                   |              |
|    fps                  | 31           |
|    iterations           | 18           |
|    time_elapsed         | 1158         |
|    total_timesteps      | 36864        |
| train/                  |              |
|    approx_kl            | 0.023152594  |
|    clip_fraction        | 0.251        |
|    clip_range           | 0.2          |
|    entropy_loss         | -70.7        |
|    explained_variance   | 0.217        |
|    learning_rate        | 0.00025      |
|    loss                 | -0.782       |
|    n_updates            | 170          |
|    policy_gradient_loss | -0.054       |
|    reward               | -0.008619268 |
|    std                  | 1.06         |
|    value_loss           | 0.000544     |
------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 31          |
|    iterations           | 19          |
|    time_elapsed         | 1222        |
|    total_timesteps      | 38912       |
| train/                  |             |
|    approx_kl            | 0.021087999 |
|    clip_fraction        | 0.242       |
|    clip_range           | 0.2         |
|    entropy_loss         | -70.8       |
|    explained_variance   | -0.237      |
|    learning_rate        | 0.00025     |
|    loss                 | -0.76       |
|    n_updates            | 180         |
|    policy_gradient_loss | -0.05       |
|    reward               | -3.879e-05  |
|    std                  | 1.06        |
|    value_loss           | 0.00162     |
-----------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 31            |
|    iterations           | 20            |
|    time_elapsed         | 1282          |
|    total_timesteps      | 40960         |
| train/                  |               |
|    approx_kl            | 0.024240125   |
|    clip_fraction        | 0.252         |
|    clip_range           | 0.2           |
|    entropy_loss         | -70.9         |
|    explained_variance   | 0.545         |
|    learning_rate        | 0.00025       |
|    loss                 | -0.77         |
|    n_updates            | 190           |
|    policy_gradient_loss | -0.0444       |
|    reward               | -0.0063715484 |
|    std                  | 1.06          |
|    value_loss           | 0.000404      |
-------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 32           |
|    iterations           | 21           |
|    time_elapsed         | 1340         |
|    total_timesteps      | 43008        |
| train/                  |              |
|    approx_kl            | 0.022657169  |
|    clip_fraction        | 0.243        |
|    clip_range           | 0.2          |
|    entropy_loss         | -71          |
|    explained_variance   | -0.371       |
|    learning_rate        | 0.00025      |
|    loss                 | -0.785       |
|    n_updates            | 200          |
|    policy_gradient_loss | -0.0509      |
|    reward               | -0.007844341 |
|    std                  | 1.06         |
|    value_loss           | 0.00144      |
------------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 32            |
|    iterations           | 22            |
|    time_elapsed         | 1399          |
|    total_timesteps      | 45056         |
| train/                  |               |
|    approx_kl            | 0.023731846   |
|    clip_fraction        | 0.256         |
|    clip_range           | 0.2           |
|    entropy_loss         | -71.2         |
|    explained_variance   | 0.341         |
|    learning_rate        | 0.00025       |
|    loss                 | -0.769        |
|    n_updates            | 210           |
|    policy_gradient_loss | -0.0446       |
|    reward               | -0.0014605084 |
|    std                  | 1.07          |
|    value_loss           | 0.000848      |
-------------------------------------------
-------------------------------------------
| time/                   |               |
|    fps                  | 32            |
|    iterations           | 23            |
|    time_elapsed         | 1456          |
|    total_timesteps      | 47104         |
| train/                  |               |
|    approx_kl            | 0.022674108   |
|    clip_fraction        | 0.251         |
|    clip_range           | 0.2           |
|    entropy_loss         | -71.3         |
|    explained_variance   | -1.29         |
|    learning_rate        | 0.00025       |
|    loss                 | -0.802        |
|    n_updates            | 220           |
|    policy_gradient_loss | -0.0541       |
|    reward               | -0.0042965855 |
|    std                  | 1.07          |
|    value_loss           | 0.000805      |
-------------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 32           |
|    iterations           | 24           |
|    time_elapsed         | 1515         |
|    total_timesteps      | 49152        |
| train/                  |              |
|    approx_kl            | 0.023133246  |
|    clip_fraction        | 0.235        |
|    clip_range           | 0.2          |
|    entropy_loss         | -71.5        |

In [12]:
data_risk_indicator = processed_full[(processed_full.date <= TRAIN_END_DATE) & (
    processed_full.date >= TRAIN_START_DATE)]
insample_risk_indicator = data_risk_indicator.drop_duplicates(subset=['date'])

In [13]:
max(insample_risk_indicator.turbulence)

323.688337612044

In [14]:
insample_risk_indicator.turbulence.describe()

count    1723.000000
mean        9.421269
std        14.372835
min         0.000000
25%         3.155248
50%         6.688186
75%        11.284441
max       323.688338
Name: turbulence, dtype: float64

In [15]:
insample_risk_indicator.turbulence.quantile(0.995)

91.57476802750648

In [16]:
e_trade_gym = StockTradingEnv(
    df=trade, turbulence_threshold=100, risk_indicator_col='turbulence', **env_kwargs)
env_trade, obs_trade = e_trade_gym.get_sb_env()

In [17]:
trained_model = trained_ppo
df_account_value, df_actions, df_rewards = DRLAgent.DRL_prediction(
    model=trained_model,
    environment=e_trade_gym)

hit end!

In [18]:
df_account_value.shape

(495, 2)

In [19]:
df_actions.shape

(494, 10)

In [20]:
df_account_value.tail(50)

          date  account_value
445 2022-10-19   12882.062818
446 2022-10-20   13097.063184
447 2022-10-21   13103.313184
448 2022-10-24   13211.863050
449 2022-10-25   13238.913282
450 2022-10-27   13325.313184
451 2022-10-28   13260.362562
452 2022-10-31   13307.762769
453 2022-11-01   13367.746533
454 2022-11-02   13397.037980
455 2022-11-03   13420.037736
456 2022-11-04   13454.437638
457 2022-11-07   13677.937638
458 2022-11-09   13534.437638
459 2022-11-10   13386.537492
460 2022-11-11   13533.137345
461 2022-11-14   13491.337296
462 2022-11-15   13538.266446
463 2022-11-16   13432.917234
464 2022-11-17   13379.167234
465 2022-11-18   13331.866971
466 2022-11-21   13598.466184
467 2022-11-22   13450.116971
468 2022-11-23   13592.016446
469 2022-11-24   14058.566709
470 2022-11-25   14176.237749
471 2022-11-28   14813.291560
472 2022-11-29   14814.958035
473 2022-11-30   14942.176294
474 2022-12-01   14986.928672
475 2022-12-02   15007.870947
476 2022-12-05   14916.276062
477 2022-12-06   14914.697459
478 2022-12-07   14788.275886
479 2022-12-08   14875.914535
480 2022-12-09   14756.120007
481 2022-12-12   14816.119885
482 2022-12-13   14965.846879
483 2022-12-14   15070.012129
484 2022-12-15   14921.432128
485 2022-12-16   14740.507118
486 2022-12-19   14993.857643
487 2022-12-20   14961.407509
488 2022-12-21   14659.857735
489 2022-12-22   14328.857674
490 2022-12-23   13933.729847
491 2022-12-26   14237.329456
492 2022-12-27   14264.329029
493 2022-12-28   14132.929066
494 2022-12-29   14063.529102

In [21]:
df_account_value['account_value'] = df_account_value['account_value'].apply(
    lambda x: '%.2f' % x)

In [22]:
df_actions.head(500)

,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA
date,,,,,,,,,,
2021-01-01,2,1,0,0,0,0,0,0,20,0
2021-01-04,-2,0,0,0,0,1,0,1,-1,0
2021-01-05,0,-1,0,0,0,0,0,-1,9,0
2021-01-06,0,0,0,0,0,-1,0,0,2,0
2021-01-07,0,0,0,0,0,0,0,0,0,0
2021-01-08,0,0,0,0,0,2,0,0,-6,0
2021-01-11,0,0,0,0,0,0,0,0,1,0
2021-01-12,0,0,0,0,0,-2,0,7,-7,0
2021-01-13,0,0,0,0,0,0,0,0,1,0
2021-01-14,0,0,0,0,0,0,0,0,0,0
2021-01-15,0,0,0,0,0,0,0,0,0,0
2021-01-18,0,0,0,0,0,0,0,0,0,0
2021-01-19,0,0,0,0,0,4,0,0,-11,0
2021-01-20,0,0,0,0,0,0,0,0,0,0
2021-01-21,0,0,0,0,0,3,0,0,-8,0
2021-01-22,1,0,0,0,0,4,0,-7,0,0
2021-01-25,0,0,0,0,0,0,0,0,0,0
2021-01-27,0,0,0,0,0,0,0,0,0,0
2021-01-28,0,0,0,0,0,0,0,0,0,0
2021-01-29,0,0,0,3,0,-6,0,0,9,0
2021-02-01,1,0,0,0,0,2,0,0,-7,0
2021-02-02,0,0,0,0,0,1,0,0,-2,0
2021-02-03,-2,2,0,-2,0,-8,0,0,9,0
2021-02-04,0,0,0,-1,0,0,0,0,6,0
2021-02-05,0,0,0,0,0,0,0,0,0,0
2021-02-08,0,0,0,0,0,0,0,0,0,0
2021-02-09,0,0,0,0,0,0,0,9,-15,0
2021-02-10,0,0,0,0,0,0,0,0,0,0
2021-02-11,0,0,0,0,0,0,0,0,0,0
2021-02-12,0,0,0,0,0,0,0,0,0,0
2021-02-15,0,0,0,0,0,0,0,0,0,0
2021-02-16,0,0,0,0,0,0,0,0,0,0
2021-02-17,0,-2,0,0,0,0,0,0,18,0
2021-02-18,0,0,0,0,0,0,0,0,0,0
2021-02-19,0,0,0,0,0,0,0,0,0,0
2021-02-22,0,0,0,0,0,0,0,0,0,0
2021-02-23,0,0,0,0,0,0,0,0,0,0
2021-02-24,0,0,0,8,0,0,0,1,-17,0
2021-02-25,0,3,0,-7,0,0,0,-7,0,0
2021-02-26,0,0,0,-1,0,0,0,0,2,0
2021-03-01,0,0,0,0,0,0,0,0,0,0
2021-03-02,0,0,0,0,0,0,0,0,0,0
2021-03-03,0,0,0,0,0,0,0,0,0,0
2021-03-04,0,0,0,0,0,0,0,0,0,0
2021-03-05,0,0,0,0,0,0,0,0,0,0
2021-03-08,0,0,0,0,0,0,0,0,0,0
2021-03-09,0,0,0,1,0,0,0,1,-3,0
2021-03-10,0,-1,0,-1,0,0,0,0,9,0
2021-03-12,0,0,0,0,0,0,0,1,-9,1
2021-03-15,1,0,0,0,0,2,0,-5,0,0
2021-03-16,-1,0,0,0,0,-1,0,3,0,0
2021-03-17,0,0,0,0,0,0,0,0,0,0
2021-03-18,0,0,0,0,0,-1,0,8,0,-1
2021-03-19,0,0,0,0,0,0,0,0,0,0
2021-03-22,0,0,0,0,0,0,0,-3,4,0
2021-03-23,0,0,0,0,0,0,0,0,0,0
2021-03-24,0,-2,0,0,0,0,0,0,15,0
2021-03-25,0,0,0,0,0,0,0,0,0,0
2021-03-26,0,0,0,0,0,0,0,1,-1,0
2021-03-30,0,0,0,0,0,5,0,-9,0,0
2021-03-31,0,0,0,0,0,5,0,0,-14,0
2021-04-01,0,0,0,0,0,0,0,0,1,0
2021-04-05,0,0,0,0,0,0,0,0,0,0
2021-04-06,0,0,0,0,0,0,0,0,0,0
2021-04-07,0,0,0,0,0,0,0,0,0,0
2021-04-08,0,0,0,0,0,0,0,0,0,0
2021-04-09,0,0,0,0,0,0,0,0,0,0
2021-04-12,0,0,0,0,0,0,0,0,0,0
2021-04-13,0,0,0,0,0,0,0,0,0,0
2021-04-15,0,0,0,0,0,0,0,0,0,0
2021-04-16,0,0,0,0,0,0,0,0,0,0
2021-04-19,0,0,0,0,0,0,0,0,0,0
2021-04-20,0,0,0,0,0,0,0,0,0,0
2021-04-22,0,0,0,0,0,0,0,0,0,0
2021-04-23,0,0,0,0,0,0,0,0,0,0
2021-04-26,0,0,0,0,0,0,0,0,0,0
2021-04-27,0,0,0,0,0,0,0,0,0,0
2021-04-28,0,0,0,0,0,0,0,0,0,0
2021-04-29,0,0,0,0,0,1,0,0,-4,0
2021-04-30,0,0,0,0,0,0,0,0,1,0
2021-05-03,0,0,0,0,0,0,0,0,0,0
2021-05-04,0,0,0,0,0,0,0,0,0,0
2021-05-05,0,0,0,0,0,0,0,0,0,0
2021-05-06,0,0,0,0,0,0,0,0,0,0
2021-05-07,0,0,0,0,0,0,0,0,0,0
2021-05-10,0,0,0,0,0,0,0,1,-1,0
2021-05-11,0,0,0,0,0,0,0,-1,1,0
2021-05-12,0,0,0,0,0,0,0,0,0,0
2021-05-14,0,0,0,0,0,0,0,0,0,0
2021-05-17,0,0,0,0,0,0,0,0,0,0
2021-05-18,0,0,0,0,0,-8,0,0,22,0
2021-05-19,0,0,0,0,0,0,0,0,1,0
2021-05-20,0,1,0,0,0,0,0,0,-9,0
2021-05-21,0,-1,0,11,0,0,0,0,-12,0
2021-05-24,0,0,0,0,0,0,0,0,1,0
2021-05-25,0,0,0,4,0,-1,0,0,-5,0
2021-05-26,0,0,0,0,0,0,0,0,0,0
2021-05-27,0,0,0,0,0,0,0,0,0,0
2021-05-28,0,1,0,-7,0,0,0,0,6,0
2021-05-31,0,0,0,0,0,-2,0,4,0,0
2021-06-01,0,0,0,-8,0,0,0,0,14,0
2021-06-02,0,0,0,0,0,0,0,0,0,0
2021-06-03,0,0,0,0,0,0,0,0,0,0
2021-06-04,0,0,0,0,0,0,0,0,0,0
2021-06-07,0,-1,0,0,0,0,0,0,8,0
2021-06-08,0,0,0,0,0,0,0,0,0,0
2021-06-09,0,0,0,0,0,0,0,0,0,0
2021-06-10,0,0,0,0,0,0,0,0,0,0
2021-06-11,0,0,0,0,0,0,0,0,0,0
2021-06-14,0,0,0,0,0,0,0,0,0,0
2021-06-15,0,0,0,0,0,0,0,0,0,0
2021-06-16,0,0,0,0,0,0,0,0,0,0
2021-06-17,0,0,0,0,0,0,0,0,0,0
2021-06-18,0,0,0,0,0,0,0,0,0,0
2021-06-21,0,0,0,0,0,0,0,0,0,0
2021-06-22,0,0,0,0,0,0,0,0,0,0
2021-06-23,0,0,0,0,0,0,0,0,0,0
2021-06-24,0,0,0,0,0,0,0,0,0,0
2021-06-25,0,0,0,0,0,0,0,-2,2,0
2021-06-28,0,0,0,0,0,0,0,0,0,0
2021-06-29,0,0,0,0,0,0,0,0,0,0
2021-06-30,0,0,0,0,0,0,0,0,0,0
2021-07-01,0,0,0,0,0,0,0,0,1,0
2021-07-02,0,0,0,0,0,0,0,0,0,0
2021-07-05,0,0,0,0,0,0,0,-2,2,0
2021-07-06,0,0,0,0,0,0,0,0,0,0
2021-07-07,0,0,0,0,0,0,0,0,0,0
2021-07-08,0,0,0,0,0,0,0,0,0,0
2021-07-09,0,0,0,0,0,0,0,0,0,0
2021-07-12,0,0,0,0,0,0,0,0,0,0
2021-07-13,0,0,0,0,0,0,0,0,0,0
2021-07-14,0,0,0,0,0,0,0,0,0,0
2021-07-15,0,0,0,0,0,0,0,0,0,0
2021-07-16,0,0,0,0,0,0,0,0,0,0
2021-07-19,0,0,0,0,0,0,0,0,0,0
2021-07-20,0,0,0,0,0,0,0,0,0,0
2021-07-22,0,0,0,0,0,0,0,0,0,0
2021-07-23,0,0,0,0,0,0,0,0,0,0
2021-07-26,0,0,0,0,0,5,0,0,-17,0
2021-07-27,0,0,0,0,0,0,0,0,0,0
2021-07-28,0,0,0,0,0,-4,0,0,14,0
2021-07-29,0,0,0,0,0,0,0,0,0,0
2021-07-30,0,0,0,0,0,0,0,0,0,0
2021-08-02,0,0,0,0,0,0,0,0,0,0
2021-08-03,0,0,0,0,0,-1,0,0,4,0
2021-08-04,0,0,0,0,0,0,0,0,0,0
2021-08-05,0,0,0,0,0,0,0,0,0,0
2021-08-06,0,0,0,0,0,0,0,0,0,0
2021-08-09,0,0,0,0,0,0,0,0,0,0
2021-08-10,0,0,0,0,0,0,0,0,0,0
2021-08-11,0,0,0,0,0,0,0,0,0,0
2021-08-12,0,0,0,0,0,0,0,0,0,0
2021-08-13,0,0,0,0,0,0,0,0,0,0
2021-08-16,0,0,0,0,0,0,0,0,0,0
2021-08-17,0,0,0,0,0,0,0,0,0,0
2021-08-18,0,0,0,0,0,1,0,2,-7,0
2021-08-20,0,0,0,0,0,0,0,12,-18,0
2021-08-23,0,0,0,0,0,-1,0,0,4,0
2021-08-24,0,0,0,1,0,2,0,0,-10,0
2021-08-25,0,0,0,-1,0,0,0,1,0,0
2021-08-26,0,0,0,0,0,-1,0,0,4,0
2021-08-27,0,0,0,0,0,-1,0,0,4,0
2021-08-30,0,0,0,0,0,0,0,0,0,0
2021-08-31,0,0,0,0,0,0,0,0,0,0
2021-09-01,0,0,0,0,0,0,0,0,0,0
2021-09-02,0,0,0,0,0,0,0,0,0,0
2021-09-03,0,0,0,0,0,0,0,0,0,0
2021-09-06,0,0,0,0,0,0,0,0,0,0
2021-09-07,0,0,0,0,0,0,0,0,0,0
2021-09-08,0,0,0,0,0,0,0,0,0,0
2021-09-09,0,0,0,0,0,0,0,0,0,0
2021-09-13,0,0,0,0,0,0,0,0,0,0
2021-09-14,0,0,0,0,0,0,0,4,-7,0
2021-09-15,0,0,0,0,0,0,0,0,0,0
2021-09-16,0,0,0,0,0,0,0,0,0,0
2021-09-17,0,0,0,0,0,0,0,0,0,0
2021-09-20,0,0,0,0,0,0,0,0,1,0
2021-09-21,0,0,0,0,0,0,0,0,0,0
2021-09-22,0,0,0,0,0,0,0,0,0,0
2021-09-23,0,0,0,0,0,0,0,0,0,0
2021-09-24,0,0,0,0,0,0,0,0,0,0
2021-09-27,0,0,0,0,0,0,0,0,-1,0
2021-09-28,0,0,0,0,0,0,0,0,1,0
2021-09-29,0,0,0,0,0,0,0,0,0,0
2021-09-30,0,0,0,0,0,0,0,0,0,0
2021-10-01,0,0,0,0,0,0,0,0,0,0
2021-10-04,0,0,0,0,0,0,0,0,0,0
2021-10-05,0,0,0,0,0,0,0,0,0,0
2021-10-06,0,0,0,0,0,0,0,0,0,0
2021-10-07,0,0,0,0,0,0,0,0,0,0
2021-10-08,0,0,0,0,0,0,0,0,0,0
2021-10-11,0,0,0,0,0,0,0,0,0,0
2021-10-12,0,0,0,0,0,0,0,0,0,0
2021-10-13,0,0,0,0,0,0,0,0,0,0
2021-10-14,0,0,0,0,0,0,0,0,0,0
2021-10-18,0,0,0,0,0,0,0,0,0,0
2021-10-19,0,0,0,0,0,1,0,0,-5,0
2021-10-20,0,0,0,0,0,-1,0,0,5,0
2021-10-21,0,0,0,0,0,0,0,3,-5,0
2021-10-22,0,0,0,0,0,3,0,-9,0,0
2021-10-25,2,0,0,0,0,0,0,-13,18,0
2021-10-26,-1,0,0,0,0,0,0,0,3,0
2021-10-27,0,0,0,0,0,0,0,0,0,0
2021-10-28,0,0,0,0,0,0,0,0,0,0
2021-10-29,0,0,0,0,0,0,0,0,0,0
2021-11-01,-1,0,0,0,0,-3,0,0,9,0
2021-11-02,0,0,0,0,0,1,0,0,1,0
2021-11-03,0,0,0,0,0,-1,0,0,5,0
2021-11-04,0,0,0,0,0,0,0,8,-15,0
2021-11-08,0,0,0,0,0,6,0,-8,-12,0
2021-11-09,0,0,0,0,0,0,0,0,0,0
2021-11-10,0,0,0,0,1,-6,0,0,16,0
2021-11-11,0,0,0,0,-1,0,0,9,-5,0
2021-11-12,0,0,0,0,0,0,0,0,0,0
2021-11-15,1,0,0,0,0,3,0,-9,1,0
2021-11-16,0,0,0,1,0,2,0,0,-12,0
2021-11-17,0,0,0,0,0,0,0,0,1,0
2021-11-18,1,0,0,-1,0,0,0,0,0,0
2021-11-22,0,0,0,0,0,-5,0,0,22,0
2021-11-23,-2,0,0,0,0,0,0,0,4,0
2021-11-24,0,0,0,0,0,0,0,0,0,0
2021-11-25,0,0,0,0,0,0,0,0,0,0
2021-11-26,0,0,0,0,0,0,0,0,-1,0
2021-11-29,0,0,0,0,0,0,0,0,0,0
2021-11-30,0,0,0,1,0,2,0,0,-12,0
2021-12-01,0,0,0,1,0,1,0,0,-5,0
2021-12-02,0,1,0,-2,0,-3,0,0,3,0
2021-12-03,0,0,0,0,0,0,0,0,0,0
2021-12-06,0,0,0,0,0,0,0,0,0,0
2021-12-07,0,0,0,0,0,0,0,0,0,0
2021-12-08,0,0,0,0,0,1,0,0,-8,0
2021-12-09,0,0,0,0,0,-1,0,4,0,0
2021-12-10,0,-1,0,0,0,0,0,0,14,0
2021-12-13,0,0,0,0,0,1,0,-4,2,0
2021-12-14,0,0,0,0,0,0,0,1,-1,0
2021-12-15,0,0,0,0,0,-1,0,2,0,0
2021-12-16,0,0,0,0,0,0,0,0,0,0
2021-12-17,0,0,0,0,0,0,0,0,0,0
2021-12-20,0,0,0,0,0,0,0,5,-9,0
2021-12-21,0,0,0,0,0,0,0,0,-1,0
2021-12-22,0,0,0,0,0,0,0,0,0,0
2021-12-23,0,0,0,0,0,0,0,0,0,0
2021-12-24,0,0,0,0,0,2,0,0,-9,0
2021-12-27,0,0,0,0,0,5,0,-8,-7,0
2021-12-28,0,0,0,0,0,0,0,1,-2,0
2021-12-29,0,0,0,0,0,0,0,0,0,0
2021-12-30,0,0,0,0,0,0,0,0,1,0
2021-12-31,0,0,0,1,0,0,0,-1,-1,0
2022-01-03,0,0,0,0,0,0,0,0,0,0
2022-01-04,0,0,0,-1,0,0,0,0,0,0
2022-01-05,1,0,0,0,0,0,0,0,0,0
2022-01-06,0,0,0,0,0,0,0,0,1,0
2022-01-07,0,0,0,0,0,0,0,0,-1,0
2022-01-10,0,0,0,0,0,0,0,0,1,0
2022-01-11,0,0,0,0,0,-2,0,0,9,0
2022-01-12,0,0,0,0,0,-1,0,0,5,0
2022-01-13,-1,0,0,0,0,-1,0,3,1,0
2022-01-14,0,0,0,0,0,0,0,-3,5,0
2022-01-17,0,0,0,0,0,0,0,0,0,0
2022-01-18,0,0,0,0,0,0,0,0,0,0
2022-01-19,0,0,0,11,0,0,0,0,-21,0
2022-01-20,0,0,0,0,0,0,0,0,0,0
2022-01-21,0,0,0,0,0,0,0,0,0,0
2022-01-24,0,0,0,0,0,-1,0,2,0,0
2022-01-25,0,0,0,0,0,0,0,-2,5,0
2022-01-27,0,0,0,-4,0,0,0,0,8,0
2022-01-28,0,0,0,-2,0,-2,0,0,9,0
2022-01-31,0,0,0,1,0,0,0,0,0,0
2022-02-01,0,0,0,0,0,0,0,0,1,0
2022-02-02,0,0,0,-6,0,3,0,0,0,0
2022-02-03,0,0,0,0,0,0,0,0,0,0
2022-02-04,0,0,0,0,0,0,0,0,0,0
2022-02-07,0,0,0,1,0,2,0,0,-12,0
2022-02-08,0,0,0,1,0,2,0,0,-11,0
2022-02-09,0,0,0,-2,0,-1,0,1,7,0
2022-02-10,0,0,0,0,0,2,0,-1,-7,0
2022-02-11,0,0,0,0,0,0,0,0,0,0
2022-02-14,0,0,0,0,0,0,0,0,0,0
2022-02-15,0,0,0,0,0,0,0,0,0,0
2022-02-16,0,0,0,0,0,0,0,0,1,0
2022-02-17,0,0,0,0,0,0,0,0,-1,0
2022-02-18,0,0,0,0,0,0,0,0,0,0
2022-02-21,0,0,0,0,0,0,0,0,0,0
2022-02-22,0,0,0,0,0,-1,0,3,0,0
2022-02-23,0,0,0,0,0,1,0,-3,0,0
2022-02-24,0,0,0,0,0,0,0,0,1,0
2022-02-25,0,0,0,0,0,0,0,0,-1,0
2022-02-28,0,0,0,0,0,0,0,0,0,0
2022-03-02,0,0,0,4,0,-6,1,0,0,0
2022-03-03,0,0,0,0,0,0,0,0,0,0
2022-03-04,0,0,0,0,0,0,-1,10,0,0
2022-03-07,0,0,0,2,0,3,0,-8,0,0
2022-03-08,2,0,0,0,0,0,0,-2,0,0
2022-03-09,0,0,0,0,0,0,0,0,0,0
2022-03-10,0,0,0,-6,0,2,0,0,3,0
2022-03-11,0,0,0,0,0,0,0,0,0,0
2022-03-14,1,0,0,0,0,0,0,0,-3,0
2022-03-15,0,0,0,0,0,0,0,0,0,0
2022-03-16,0,0,0,0,0,0,0,0,1,0
2022-03-17,-3,0,0,3,0,0,0,0,-1,0
2022-03-21,0,0,0,-3,0,1,0,0,2,0
2022-03-22,0,0,0,0,0,0,0,0,0,0
2022-03-23,0,0,0,0,0,-5,1,2,0,0
2022-03-24,0,0,0,0,0,5,-1,-2,0,0
2022-03-25,0,0,0,0,0,0,0,0,0,0
2022-03-28,0,0,0,0,0,-6,1,4,0,0
2022-03-29,0,0,0,0,0,-2,0,0,9,0
2022-03-30,1,0,0,0,0,7,-1,-4,-8,0
2022-03-31,0,0,0,0,0,0,0,0,1,0
2022-04-01,0,0,0,0,0,0,0,0,0,0
2022-04-04,0,0,0,0,0,0,0,0,0,0
2022-04-05,-1,0,0,0,0,0,0,0,2,0
2022-04-06,0,0,0,0,0,0,0,0,0,0
2022-04-07,0,0,0,0,0,0,0,0,0,0
2022-04-08,0,0,0,0,0,0,0,0,-1,0
2022-04-11,0,0,0,0,0,0,0,0,1,0
2022-04-12,0,0,0,0,0,0,0,0,-1,0
2022-04-13,1,0,0,0,0,1,0,0,-5,0
2022-04-18,-1,0,0,0,0,0,0,0,2,0
2022-04-19,0,0,0,0,0,0,0,0,-1,0
2022-04-20,0,0,0,0,0,0,0,1,-1,0
2022-04-21,0,0,0,0,0,-6,1,3,1,0
2022-04-22,0,0,0,0,0,0,0,0,0,0
2022-04-25,0,0,0,0,0,0,0,0,0,0
2022-04-26,0,0,0,0,0,0,0,0,0,0
2022-04-27,0,0,0,0,0,0,0,0,0,0
2022-04-28,0,0,0,0,0,0,0,0,-1,0
2022-04-29,0,0,0,0,0,0,-1,-4,27,0
2022-05-02,0,0,0,0,0,0,0,0,0,0
2022-05-04,0,0,0,0,0,0,0,0,0,0
2022-05-05,0,0,0,0,0,0,0,0,0,0
2022-05-06,0,0,0,0,0,0,0,0,0,0
2022-05-09,0,0,0,1,0,0,0,0,-1,0
2022-05-10,0,0,0,0,0,2,0,0,-9,0
2022-05-11,0,0,0,-1,0,0,0,0,3,0
2022-05-12,0,0,0,0,0,0,0,0,0,0
2022-05-13,0,0,0,0,0,0,0,0,0,0
2022-05-16,0,0,0,0,0,0,0,0,0,0
2022-05-17,0,0,0,0,0,4,0,0,-16,0
2022-05-18,0,1,0,0,0,-3,0,0,1,0
2022-05-19,0,0,0,0,0,1,0,0,-5,0
2022-05-20,0,0,0,0,0,0,0,0,0,0
2022-05-23,0,0,0,0,0,0,0,0,0,0
2022-05-24,0,0,0,0,0,0,0,0,0,0
2022-05-25,0,-1,0,0,0,0,0,5,1,0
2022-05-26,0,0,0,0,0,0,0,0,0,0
2022-05-27,0,0,0,0,0,-1,0,2,0,0
2022-05-30,0,0,0,0,0,0,0,0,-1,0
2022-05-31,0,0,0,0,0,0,0,0,1,0
2022-06-01,0,0,0,0,0,0,0,0,0,0
2022-06-02,0,0,0,1,0,0,0,-1,0,0
2022-06-03,0,0,0,2,0,0,0,-2,-1,0
2022-06-06,0,0,0,0,0,0,0,0,0,0
2022-06-07,0,0,0,0,0,0,0,0,0,0
2022-06-08,0,1,0,-2,0,-5,0,-1,9,0
2022-06-09,0,0,0,0,0,0,0,7,-9,0
2022-06-10,0,-1,0,7,0,0,0,-1,0,0
2022-06-13,0,0,0,0,0,0,0,0,0,0
2022-06-14,0,0,0,0,0,0,0,0,0,0
2022-06-15,0,0,0,0,0,0,0,0,0,0
2022-06-16,0,0,0,0,0,0,0,0,0,0
2022-06-17,0,0,0,-5,0,0,0,4,0,0
2022-06-20,0,0,0,1,0,0,0,0,0,0
2022-06-21,1,0,0,0,0,4,0,-9,1,0
2022-06-22,-1,0,0,0,0,0,0,1,-1,0
2022-06-23,0,0,0,0,0,3,0,-5,0,0
2022-06-24,0,0,0,0,0,0,0,0,0,0
2022-06-27,0,0,0,0,0,0,0,0,0,0
2022-06-28,0,0,0,0,0,0,0,0,1,0
2022-06-29,0,0,0,0,0,0,0,0,-1,0
2022-06-30,0,0,0,0,0,0,0,0,0,0
2022-07-01,0,0,0,0,0,0,0,0,0,0
2022-07-04,0,0,0,0,0,0,0,0,0,0
2022-07-05,0,0,0,0,0,0,0,0,0,0
2022-07-06,0,0,0,0,0,0,0,0,0,0
2022-07-07,0,0,0,0,0,0,0,0,0,0
2022-07-08,0,0,0,-4,0,2,0,0,1,0
2022-07-11,0,2,0,0,0,-9,0,0,9,0
2022-07-12,0,0,0,0,0,0,0,0,1,0
2022-07-13,0,0,0,0,0,0,0,1,-2,0
2022-07-14,0,0,0,0,0,0,0,0,0,0
2022-07-15,0,0,0,0,0,0,0,0,0,0
2022-07-18,0,-1,0,3,0,0,0,-1,7,0
2022-07-19,0,0,0,-3,0,1,0,0,3,0
2022-07-20,0,0,0,0,0,0,0,0,0,0
2022-07-21,0,-1,0,0,0,6,0,0,-12,0
2022-07-22,0,0,0,0,0,0,0,0,1,0
2022-07-25,0,0,0,0,0,0,0,0,-1,0
2022-07-26,0,0,0,0,0,2,0,0,-7,0
2022-07-27,0,0,0,0,0,0,0,0,0,0
2022-07-28,0,0,0,0,0,0,0,0,0,0
2022-07-29,0,0,0,0,0,0,0,0,0,0
2022-08-01,0,1,0,0,0,-3,0,0,1,0
2022-08-02,0,0,0,0,0,0,0,0,-1,0
2022-08-03,0,0,0,0,0,0,0,0,0,0
2022-08-04,0,0,0,0,0,0,0,0,1,0
2022-08-05,0,0,0,0,0,-1,0,2,0,0
2022-08-08,0,0,0,0,0,0,0,0,-1,0
2022-08-10,0,0,0,0,0,-4,0,9,0,0
2022-08-11,0,-1,1,5,0,1,0,-9,7,0
2022-08-12,0,0,-1,7,0,0,0,0,-7,0
2022-08-16,0,0,0,-2,0,0,0,2,1,0
2022-08-17,0,0,0,0,0,0,0,0,-1,0
2022-08-18,0,1,0,-5,0,-1,0,0,5,0
2022-08-19,0,0,0,-5,0,0,0,0,11,0
2022-08-22,0,0,0,0,0,0,0,1,-3,0
2022-08-23,0,0,0,0,0,0,0,0,1,0
2022-08-24,0,0,0,0,0,-1,0,0,5,0
2022-08-25,0,0,0,0,0,0,0,0,0,0
2022-08-26,0,0,0,0,0,0,0,0,0,0
2022-08-29,0,0,0,0,0,0,0,0,0,0
2022-08-30,0,0,0,0,0,0,0,0,0,0
2022-09-01,0,0,0,0,0,2,0,0,-11,0
2022-09-02,1,0,0,0,0,0,0,-1,0,0
2022-09-05,0,0,0,0,0,0,0,0,0,0
2022-09-06,-1,0,0,0,0,0,0,0,2,0
2022-09-07,0,0,0,0,0,0,0,0,0,0
2022-09-08,0,0,0,0,0,0,0,0,-1,0
2022-09-09,0,-1,0,0,0,0,0,0,14,0
2022-09-12,0,0,0,0,0,0,0,-4,9,0
2022-09-13,0,0,0,0,0,0,0,0,0,0
2022-09-14,0,0,0,0,0,0,0,0,0,0
2022-09-15,0,0,0,0,0,0,0,0,0,0
2022-09-16,0,0,0,0,0,-2,0,0,11,0
2022-09-19,0,0,0,0,0,0,0,0,0,0
2022-09-20,0,0,0,0,0,0,0,0,0,0
2022-09-21,0,0,0,0,0,0,0,0,0,0
2022-09-22,0,0,0,0,0,0,0,0,0,0
2022-09-23,0,0,0,0,0,0,0,0,0,0
2022-09-26,0,0,0,0,0,0,0,0,0,0
2022-09-27,0,0,0,0,0,0,0,0,0,0
2022-09-28,0,0,0,0,0,0,0,0,0,0
2022-09-29,0,0,0,0,0,0,0,0,0,0
2022-09-30,0,0,0,0,0,0,0,0,0,0
2022-10-03,0,0,0,0,0,0,0,0,0,0
2022-10-04,0,0,0,0,0,0,0,0,0,0
2022-10-06,0,0,0,1,0,1,0,0,-9,0
2022-10-07,0,0,0,-1,0,0,0,0,4,0
2022-10-10,0,0,0,0,0,0,0,0,0,0
2022-10-11,0,0,0,0,0,0,0,0,0,0
2022-10-12,0,0,0,0,0,0,0,0,0,0
2022-10-13,0,0,0,0,0,0,0,0,0,0
2022-10-14,0,0,0,0,0,0,0,0,0,0
2022-10-17,0,0,0,0,0,0,0,0,0,0
2022-10-18,0,0,0,0,0,0,0,0,0,0
2022-10-19,0,0,0,0,0,0,0,0,0,0
2022-10-20,0,0,0,0,0,0,0,0,0,0
2022-10-21,0,0,0,0,0,0,0,0,0,0
2022-10-24,0,0,0,0,0,0,0,0,0,0
2022-10-25,0,0,0,0,0,0,0,0,0,0
2022-10-27,0,0,0,0,0,0,0,0,0,0
2022-10-28,0,0,0,0,0,0,0,0,0,0
2022-10-31,0,0,0,0,0,1,0,0,-8,0
2022-11-01,0,0,0,0,0,0,0,0,2,0
2022-11-02,0,0,0,0,0,0,0,0,0,0
2022-11-03,0,0,0,0,0,0,0,0,0,0
2022-11-04,0,0,0,0,0,0,0,0,0,0
2022-11-07,0,0,0,0,0,0,0,0,0,0
2022-11-09,0,0,0,0,0,0,0,0,0,0
2022-11-10,0,0,0,0,0,0,0,0,0,0
2022-11-11,0,0,0,0,0,0,0,0,0,0
2022-11-14,0,0,0,0,0,-2,0,0,11,0
2022-11-15,0,0,0,0,0,0,0,0,0,0
2022-11-16,0,0,0,0,0,0,0,0,0,0
2022-11-17,0,0,0,0,0,0,0,0,0,0
2022-11-18,0,0,0,0,0,0,0,0,0,0
2022-11-21,0,0,0,0,0,0,0,0,0,0
2022-11-22,0,0,0,0,0,0,0,0,0,0
2022-11-23,0,0,0,0,0,0,0,0,0,0
2022-11-24,0,0,0,0,0,1,0,1,-7,0
2022-11-25,0,0,0,0,0,0,0,-1,2,0
2022-11-28,0,0,0,0,0,0,0,0,-14,1
2022-11-29,0,0,0,1,0,0,0,0,-1,0
2022-11-30,0,0,0,1,0,2,0,0,-12,0
2022-12-01,0,0,0,1,0,4,0,0,-9,-1
2022-12-02,0,0,0,-3,0,0,0,0,8,0
2022-12-05,0,0,0,1,0,1,0,0,-9,0
2022-12-06,0,0,0,0,0,-6,1,4,1,0
2022-12-07,0,0,0,0,0,5,-1,-1,-2,0
2022-12-08,0,0,0,-1,0,0,0,-3,10,0
2022-12-09,0,0,0,0,0,0,0,0,0,0
2022-12-12,0,0,0,1,0,1,0,0,-8,0
2022-12-13,1,0,0,-1,0,0,0,0,1,0
2022-12-14,-1,0,0,0,0,0,0,1,0,0
2022-12-15,0,0,0,0,0,0,0,-1,2,0
2022-12-16,0,0,0,0,0,0,0,0,0,0
2022-12-19,0,0,0,0,0,0,0,0,0,0
2022-12-20,0,0,0,0,0,0,0,0,0,0
2022-12-21,0,0,0,0,0,0,0,0,0,0
2022-12-22,0,0,0,0,0,0,0,0,1,0
2022-12-23,0,0,0,0,0,0,0,0,0,0
2022-12-26,0,0,0,0,0,0,0,0,0,0
2022-12-27,0,0,0,0,0,0,0,0,0,0
2022-12-28,0,0,0,0,0,0,0,0,0,0

In [23]:
predictions = pd.merge(df_actions.reset_index(), df_account_value, on=[
                       'date'], how='left').merge(df_rewards, on=['date'], how='left')
predictions

,date,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,account_value,rewards
0,2021-01-01,2,1,0,0,0,0,0,0,20,0,10000.00,201.505848
1,2021-01-04,-2,0,0,0,0,1,0,1,-1,0,10201.51,32.295080
2,2021-01-05,0,-1,0,0,0,0,0,-1,9,0,10233.80,-120.763244
3,2021-01-06,0,0,0,0,0,-1,0,0,2,0,10113.04,122.816328
4,2021-01-07,0,0,0,0,0,0,0,0,0,0,10235.85,201.746521
5,2021-01-08,0,0,0,0,0,2,0,0,-6,0,10437.60,-8.458870
6,2021-01-11,0,0,0,0,0,0,0,0,1,0,10429.14,11.160189
7,2021-01-12,0,0,0,0,0,-2,0,7,-7,0,10440.30,221.361747
8,2021-01-13,0,0,0,0,0,0,0,0,1,0,10661.66,253.548179
9,2021-01-14,0,0,0,0,0,0,0,0,0,0,10915.21,-40.457458
10,2021-01-15,0,0,0,0,0,0,0,0,0,0,10874.75,-190.578613
11,2021-01-18,0,0,0,0,0,0,0,0,0,0,10684.18,99.965851
12,2021-01-19,0,0,0,0,0,4,0,0,-11,0,10784.14,27.759682
13,2021-01-20,0,0,0,0,0,0,0,0,0,0,10811.90,-94.907043
14,2021-01-21,0,0,0,0,0,3,0,0,-8,0,10716.99,-24.106474
15,2021-01-22,1,0,0,0,0,4,0,-7,0,0,10692.89,120.448706
16,2021-01-25,0,0,0,0,0,0,0,0,0,0,10813.34,-84.766510
17,2021-01-27,0,0,0,0,0,0,0,0,0,0,10728.57,-187.519470
18,2021-01-28,0,0,0,0,0,0,0,0,0,0,10541.05,-264.920990
19,2021-01-29,0,0,0,3,0,-6,0,0,9,0,10276.13,732.383174
20,2021-02-01,1,0,0,0,0,2,0,0,-7,0,11008.51,-120.769218
21,2021-02-02,0,0,0,0,0,1,0,0,-2,0,10887.74,123.188246
22,2021-02-03,-2,2,0,-2,0,-8,0,0,9,0,11010.93,40.900818
23,2021-02-04,0,0,0,-1,0,0,0,0,6,0,11051.83,-34.076528
24,2021-02-05,0,0,0,0,0,0,0,0,0,0,11017.76,47.454773
25,2021-02-08,0,0,0,0,0,0,0,0,0,0,11065.21,108.665833
26,2021-02-09,0,0,0,0,0,0,0,9,-15,0,11173.88,-154.382341
27,2021-02-10,0,0,0,0,0,0,0,0,0,0,11019.49,70.784912
28,2021-02-11,0,0,0,0,0,0,0,0,0,0,11090.28,-122.899109
29,2021-02-12,0,0,0,0,0,0,0,0,0,0,10967.38,748.646057
30,2021-02-15,0,0,0,0,0,0,0,0,0,0,11716.03,225.390503
31,2021-02-16,0,0,0,0,0,0,0,0,0,0,11941.42,63.301758
32,2021-02-17,0,-2,0,0,0,0,0,0,18,0,12004.72,268.596430
33,2021-02-18,0,0,0,0,0,0,0,0,0,0,12273.31,-103.824097
34,2021-02-19,0,0,0,0,0,0,0,0,0,0,12169.49,-216.961304
35,2021-02-22,0,0,0,0,0,0,0,0,0,0,11952.53,158.510193
36,2021-02-23,0,0,0,0,0,0,0,0,0,0,12111.04,120.927612
37,2021-02-24,0,0,0,8,0,0,0,1,-17,0,12231.97,238.449113
38,2021-02-25,0,3,0,-7,0,0,0,-7,0,0,12470.42,-240.612570
39,2021-02-26,0,0,0,-1,0,0,0,0,2,0,12229.80,7.936944
40,2021-03-01,0,0,0,0,0,0,0,0,0,0,12237.74,81.527710
41,2021-03-02,0,0,0,0,0,0,0,0,0,0,12319.27,-82.234863
42,2021-03-03,0,0,0,0,0,0,0,0,0,0,12237.03,-70.966461
43,2021-03-04,0,0,0,0,0,0,0,0,0,0,12166.07,-511.368256
44,2021-03-05,0,0,0,0,0,0,0,0,0,0,11654.70,-46.794800
45,2021-03-08,0,0,0,0,0,0,0,0,0,0,11607.90,-8.456085
46,2021-03-09,0,0,0,1,0,0,0,1,-3,0,11599.45,82.910831
47,2021-03-10,0,-1,0,-1,0,0,0,0,9,0,11682.36,225.465823
48,2021-03-12,0,0,0,0,0,0,0,1,-9,1,11907.82,41.508925
49,2021-03-15,1,0,0,0,0,2,0,-5,0,0,11949.33,167.227371
50,2021-03-16,-1,0,0,0,0,-1,0,3,0,0,12116.56,-202.279539
51,2021-03-17,0,0,0,0,0,0,0,0,0,0,11914.28,-100.482605
52,2021-03-18,0,0,0,0,0,-1,0,8,0,-1,11813.80,-26.261476
53,2021-03-19,0,0,0,0,0,0,0,0,0,0,11787.54,-80.079590
54,2021-03-22,0,0,0,0,0,0,0,-3,4,0,11707.46,79.716233
55,2021-03-23,0,0,0,0,0,0,0,0,0,0,11787.17,-121.691772
56,2021-03-24,0,-2,0,0,0,0,0,0,15,0,11665.48,-239.574309
57,2021-03-25,0,0,0,0,0,0,0,0,0,0,11425.91,206.248047
58,2021-03-26,0,0,0,0,0,0,0,1,-1,0,11632.16,95.865490
59,2021-03-30,0,0,0,0,0,5,0,-9,0,0,11728.02,28.001014
60,2021-03-31,0,0,0,0,0,5,0,0,-14,0,11756.02,144.303362
61,2021-04-01,0,0,0,0,0,0,0,0,1,0,11900.33,-349.658052
62,2021-04-05,0,0,0,0,0,0,0,0,0,0,11550.67,38.049774
63,2021-04-06,0,0,0,0,0,0,0,0,0,0,11588.72,20.533447
64,2021-04-07,0,0,0,0,0,0,0,0,0,0,11609.25,125.586548
65,2021-04-08,0,0,0,0,0,0,0,0,0,0,11734.84,-47.759094
66,2021-04-09,0,0,0,0,0,0,0,0,0,0,11687.08,-561.953735
67,2021-04-12,0,0,0,0,0,0,0,0,0,0,11125.12,667.411804
68,2021-04-13,0,0,0,0,0,0,0,0,0,0,11792.54,-87.204895
69,2021-04-15,0,0,0,0,0,0,0,0,0,0,11705.33,124.822235
70,2021-04-16,0,0,0,0,0,0,0,0,0,0,11830.15,-377.106171
71,2021-04-19,0,0,0,0,0,0,0,0,0,0,11453.05,346.397400
72,2021-04-20,0,0,0,0,0,0,0,0,0,0,11799.44,80.037231
73,2021-04-22,0,0,0,0,0,0,0,0,0,0,11879.48,83.674927
74,2021-04-23,0,0,0,0,0,0,0,0,0,0,11963.16,66.583405
75,2021-04-26,0,0,0,0,0,0,0,0,0,0,12029.74,95.998077
76,2021-04-27,0,0,0,0,0,0,0,0,0,0,12125.74,385.029755
77,2021-04-28,0,0,0,0,0,0,0,0,0,0,12510.77,695.957642
78,2021-04-29,0,0,0,0,0,1,0,0,-4,0,13206.73,-148.909403
79,2021-04-30,0,0,0,0,0,0,0,0,1,0,13057.82,-10.643436
80,2021-05-03,0,0,0,0,0,0,0,0,0,0,13047.17,-51.038757
81,2021-05-04,0,0,0,0,0,0,0,0,0,0,12996.13,146.677063
82,2021-05-05,0,0,0,0,0,0,0,0,0,0,13142.81,-78.716614
83,2021-05-06,0,0,0,0,0,0,0,0,0,0,13064.09,335.641479
84,2021-05-07,0,0,0,0,0,0,0,0,0,0,13399.74,33.674133
85,2021-05-10,0,0,0,0,0,0,0,1,-1,0,13433.41,-150.249135
86,2021-05-11,0,0,0,0,0,0,0,-1,1,0,13283.16,-139.655597
87,2021-05-12,0,0,0,0,0,0,0,0,0,0,13143.51,-140.476196
88,2021-05-14,0,0,0,0,0,0,0,0,0,0,13003.03,307.943054
89,2021-05-17,0,0,0,0,0,0,0,0,0,0,13310.97,170.640259
90,2021-05-18,0,0,0,0,0,-8,0,0,22,0,13481.61,-115.070318
91,2021-05-19,0,0,0,0,0,0,0,0,1,0,13366.54,189.196382
92,2021-05-20,0,1,0,0,0,0,0,0,-9,0,13555.74,120.983174
93,2021-05-21,0,-1,0,11,0,0,0,0,-12,0,13676.72,108.911515
94,2021-05-24,0,0,0,0,0,0,0,0,1,0,13785.63,-36.286920
95,2021-05-25,0,0,0,4,0,-1,0,0,-5,0,13749.35,153.046085
96,2021-05-26,0,0,0,0,0,0,0,0,0,0,13902.39,224.884033
97,2021-05-27,0,0,0,0,0,0,0,0,0,0,14127.28,-192.359009
98,2021-05-28,0,1,0,-7,0,0,0,0,6,0,13934.92,116.432639
99,2021-05-31,0,0,0,0,0,-2,0,4,0,0,14051.35,7.789510
100,2021-06-01,0,0,0,-8,0,0,0,0,14,0,14059.14,75.918141
101,2021-06-02,0,0,0,0,0,0,0,0,0,0,14135.06,148.144287
102,2021-06-03,0,0,0,0,0,0,0,0,0,0,14283.20,34.724609
103,2021-06-04,0,0,0,0,0,0,0,0,0,0,14317.93,6.452759
104,2021-06-07,0,-1,0,0,0,0,0,0,8,0,14324.38,185.243281
105,2021-06-08,0,0,0,0,0,0,0,0,0,0,14509.62,-86.882935
106,2021-06-09,0,0,0,0,0,0,0,0,0,0,14422.74,-16.868164
107,2021-06-10,0,0,0,0,0,0,0,0,0,0,14405.87,-15.877319
108,2021-06-11,0,0,0,0,0,0,0,0,0,0,14389.99,-3.481689
109,2021-06-14,0,0,0,0,0,0,0,0,0,0,14386.51,-32.308960
110,2021-06-15,0,0,0,0,0,0,0,0,0,0,14354.20,-39.093384
111,2021-06-16,0,0,0,0,0,0,0,0,0,0,14315.11,-140.649780
112,2021-06-17,0,0,0,0,0,0,0,0,0,0,14174.46,-73.154541
113,2021-06-18,0,0,0,0,0,0,0,0,0,0,14101.31,70.661499
114,2021-06-21,0,0,0,0,0,0,0,0,0,0,14171.97,-47.627808
115,2021-06-22,0,0,0,0,0,0,0,0,0,0,14124.34,-110.275635
116,2021-06-23,0,0,0,0,0,0,0,0,0,0,14014.06,-108.318237
117,2021-06-24,0,0,0,0,0,0,0,0,0,0,13905.75,123.712280
118,2021-06-25,0,0,0,0,0,0,0,-2,2,0,14029.46,-87.090070
119,2021-06-28,0,0,0,0,0,0,0,0,0,0,13942.37,-36.472595
120,2021-06-29,0,0,0,0,0,0,0,0,0,0,13905.90,50.784668
121,2021-06-30,0,0,0,0,0,0,0,0,0,0,13956.68,-148.806763
122,2021-07-01,0,0,0,0,0,0,0,0,1,0,13807.87,4.267387
123,2021-07-02,0,0,0,0,0,0,0,0,0,0,13812.14,-86.233826
124,2021-07-05,0,0,0,0,0,0,0,-2,2,0,13725.91,-50.316110
125,2021-07-06,0,0,0,0,0,0,0,0,0,0,13675.59,71.948822
126,2021-07-07,0,0,0,0,0,0,0,0,0,0,13747.54,-67.543854
127,2021-07-08,0,0,0,0,0,0,0,0,0,0,13680.00,-38.177399
128,2021-07-09,0,0,0,0,0,0,0,0,0,0,13641.82,-173.270142
129,2021-07-12,0,0,0,0,0,0,0,0,0,0,13468.55,-22.024841
130,2021-07-13,0,0,0,0,0,0,0,0,0,0,13446.52,-45.519012
131,2021-07-14,0,0,0,0,0,0,0,0,0,0,13401.00,-48.457672
132,2021-07-15,0,0,0,0,0,0,0,0,0,0,13352.55,27.899139
133,2021-07-16,0,0,0,0,0,0,0,0,0,0,13380.45,173.269135
134,2021-07-19,0,0,0,0,0,0,0,0,0,0,13553.72,-2.937653
135,2021-07-20,0,0,0,0,0,0,0,0,0,0,13550.78,208.509888
136,2021-07-22,0,0,0,0,0,0,0,0,0,0,13759.29,13.215912
137,2021-07-23,0,0,0,0,0,0,0,0,0,0,13772.50,-157.116577
138,2021-07-26,0,0,0,0,0,5,0,0,-17,0,13615.39,89.245270
139,2021-07-27,0,0,0,0,0,0,0,0,0,0,13704.63,83.456543
140,2021-07-28,0,0,0,0,0,-4,0,0,14,0,13788.09,-64.542965
141,2021-07-29,0,0,0,0,0,0,0,0,0,0,13723.55,-133.783569
142,2021-07-30,0,0,0,0,0,0,0,0,0,0,13589.76,318.680725
143,2021-08-02,0,0,0,0,0,0,0,0,0,0,13908.44,166.485413
144,2021-08-03,0,0,0,0,0,-1,0,0,4,0,14074.93,-192.187985
145,2021-08-04,0,0,0,0,0,0,0,0,0,0,13882.74,-110.438782
146,2021-08-05,0,0,0,0,0,0,0,0,0,0,13772.30,63.541443
147,2021-08-06,0,0,0,0,0,0,0,0,0,0,13835.84,-93.797791
148,2021-08-09,0,0,0,0,0,0,0,0,0,0,13742.05,-236.007812
149,2021-08-10,0,0,0,0,0,0,0,0,0,0,13506.04,160.362793
150,2021-08-11,0,0,0,0,0,0,0,0,0,0,13666.40,-55.975281
151,2021-08-12,0,0,0,0,0,0,0,0,0,0,13610.42,204.237610
152,2021-08-13,0,0,0,0,0,0,0,0,0,0,13814.66,275.343140
153,2021-08-16,0,0,0,0,0,0,0,0,0,0,14090.01,30.257385
154,2021-08-17,0,0,0,0,0,0,0,0,0,0,14120.26,-45.387634
155,2021-08-18,0,0,0,0,0,1,0,2,-7,0,14074.88,-226.256625
156,2021-08-20,0,0,0,0,0,0,0,12,-18,0,13848.62,111.414286
157,2021-08-23,0,0,0,0,0,-1,0,0,4,0,13960.03,15.696469
158,2021-08-24,0,0,0,1,0,2,0,0,-10,0,13975.73,-221.951958
159,2021-08-25,0,0,0,-1,0,0,0,1,0,0,13753.78,-355.873515
160,2021-08-26,0,0,0,0,0,-1,0,0,4,0,13397.90,171.961162
161,2021-08-27,0,0,0,0,0,-1,0,0,4,0,13569.87,386.760772
162,2021-08-30,0,0,0,0,0,0,0,0,0,0,13956.63,642.295044
163,2021-08-31,0,0,0,0,0,0,0,0,0,0,14598.92,87.465851
164,2021-09-01,0,0,0,0,0,0,0,0,0,0,14686.39,28.903259
165,2021-09-02,0,0,0,0,0,0,0,0,0,0,14715.29,-7.639709
166,2021-09-03,0,0,0,0,0,0,0,0,0,0,14707.65,-62.390198
167,2021-09-06,0,0,0,0,0,0,0,0,0,0,14645.26,151.557190
168,2021-09-07,0,0,0,0,0,0,0,0,0,0,14796.82,34.076630
169,2021-09-08,0,0,0,0,0,0,0,0,0,0,14830.89,288.948944
170,2021-09-09,0,0,0,0,0,0,0,0,0,0,15119.84,174.809845
171,2021-09-13,0,0,0,0,0,0,0,0,0,0,15294.65,-226.557495
172,2021-09-14,0,0,0,0,0,0,0,4,-7,0,15068.10,564.158958
173,2021-09-15,0,0,0,0,0,0,0,0,0,0,15632.25,-189.067932
174,2021-09-16,0,0,0,0,0,0,0,0,0,0,15443.19,166.582825
175,2021-09-17,0,0,0,0,0,0,0,0,0,0,15609.77,-120.176147
176,2021-09-20,0,0,0,0,0,0,0,0,1,0,15489.59,-0.465955
177,2021-09-21,0,0,0,0,0,0,0,0,0,0,15489.13,32.286713
178,2021-09-22,0,0,0,0,0,0,0,0,0,0,15521.41,-0.030670
179,2021-09-23,0,0,0,0,0,0,0,0,0,0,15521.38,209.270599
180,2021-09-24,0,0,0,0,0,0,0,0,0,0,15730.65,-33.185547
181,2021-09-27,0,0,0,0,0,0,0,0,-1,0,15697.47,-465.280844
182,2021-09-28,0,0,0,0,0,0,0,0,1,0,15232.19,-4.208781
183,2021-09-29,0,0,0,0,0,0,0,0,0,0,15227.98,-132.233673
184,2021-09-30,0,0,0,0,0,0,0,0,0,0,15095.74,-230.483582
185,2021-10-01,0,0,0,0,0,0,0,0,0,0,14865.26,117.454803
186,2021-10-04,0,0,0,0,0,0,0,0,0,0,14982.72,375.984497
187,2021-10-05,0,0,0,0,0,0,0,0,0,0,15358.70,-132.436829
188,2021-10-06,0,0,0,0,0,0,0,0,0,0,15226.26,30.390808
189,2021-10-07,0,0,0,0,0,0,0,0,0,0,15256.65,57.946320
190,2021-10-08,0,0,0,0,0,0,0,0,0,0,15314.60,-64.239716
191,2021-10-11,0,0,0,0,0,0,0,0,0,0,15250.36,-81.048767
192,2021-10-12,0,0,0,0,0,0,0,0,0,0,15169.31,83.445465
193,2021-10-13,0,0,0,0,0,0,0,0,0,0,15252.76,-74.441650
194,2021-10-14,0,0,0,0,0,0,0,0,0,0,15178.32,-83.028870
195,2021-10-18,0,0,0,0,0,0,0,0,0,0,15095.29,-35.825256
196,2021-10-19,0,0,0,0,0,1,0,0,-5,0,15059.46,465.955126
197,2021-10-20,0,0,0,0,0,-1,0,0,5,0,15525.42,-190.851700
198,2021-10-21,0,0,0,0,0,0,0,3,-5,0,15334.57,-38.189654
199,2021-10-22,0,0,0,0,0,3,0,-9,0,0,15296.38,-227.060641
200,2021-10-25,2,0,0,0,0,0,0,-13,18,0,15069.32,46.461504
201,2021-10-26,-1,0,0,0,0,0,0,0,3,0,15115.78,-175.796976
202,2021-10-27,0,0,0,0,0,0,0,0,0,0,14939.98,-203.510468
203,2021-10-28,0,0,0,0,0,0,0,0,0,0,14736.47,-107.470703
204,2021-10-29,0,0,0,0,0,0,0,0,0,0,14629.00,14.211548
205,2021-11-01,-1,0,0,0,0,-3,0,0,9,0,14643.21,-167.736932
206,2021-11-02,0,0,0,0,0,1,0,0,1,0,14475.47,-42.605190
207,2021-11-03,0,0,0,0,0,-1,0,0,5,0,14432.87,163.596472
208,2021-11-04,0,0,0,0,0,0,0,8,-15,0,14596.46,292.816282
209,2021-11-08,0,0,0,0,0,6,0,-8,-12,0,14889.28,-120.699808
210,2021-11-09,0,0,0,0,0,0,0,0,0,0,14768.58,98.625275
211,2021-11-10,0,0,0,0,1,-6,0,0,16,0,14867.21,-65.231748
212,2021-11-11,0,0,0,0,-1,0,0,9,-5,0,14801.97,167.844810
213,2021-11-12,0,0,0,0,0,0,0,0,0,0,14969.82,-79.493164
214,2021-11-15,1,0,0,0,0,3,0,-9,1,0,14890.33,-124.100875
215,2021-11-16,0,0,0,1,0,2,0,0,-12,0,14766.23,-64.271413
216,2021-11-17,0,0,0,0,0,0,0,0,1,0,14701.95,-265.260058
217,2021-11-18,1,0,0,-1,0,0,0,0,0,0,14436.69,-541.025574
218,2021-11-22,0,0,0,0,0,-5,0,0,22,0,13895.67,73.386816
219,2021-11-23,-2,0,0,0,0,0,0,0,4,0,13969.05,197.723059
220,2021-11-24,0,0,0,0,0,0,0,0,0,0,14166.78,-113.445923
221,2021-11-25,0,0,0,0,0,0,0,0,0,0,14053.33,-811.579834
222,2021-11-26,0,0,0,0,0,0,0,0,-1,0,13241.75,-319.374041
223,2021-11-29,0,0,0,0,0,0,0,0,0,0,12922.38,86.539764
224,2021-11-30,0,0,0,1,0,2,0,0,-12,0,13008.92,16.740569
225,2021-12-01,0,0,0,1,0,1,0,0,-5,0,13025.66,277.604054
226,2021-12-02,0,1,0,-2,0,-3,0,0,3,0,13303.26,-29.689969
227,2021-12-03,0,0,0,0,0,0,0,0,0,0,13273.57,-181.946594
228,2021-12-06,0,0,0,0,0,0,0,0,0,0,13091.63,103.364075
229,2021-12-07,0,0,0,0,0,0,0,0,0,0,13194.99,86.987061
230,2021-12-08,0,0,0,0,0,1,0,0,-8,0,13281.98,-74.816417
231,2021-12-09,0,0,0,0,0,-1,0,4,0,0,13207.16,35.241622
232,2021-12-10,0,-1,0,0,0,0,0,0,14,0,13242.40,-161.306910
233,2021-12-13,0,0,0,0,0,1,0,-4,2,0,13081.10,-45.018948
234,2021-12-14,0,0,0,0,0,0,0,1,-1,0,13036.08,-253.003903
235,2021-12-15,0,0,0,0,0,-1,0,2,0,0,12783.07,168.133087
236,2021-12-16,0,0,0,0,0,0,0,0,0,0,12951.21,-218.246094
237,2021-12-17,0,0,0,0,0,0,0,0,0,0,12732.96,-693.891724
238,2021-12-20,0,0,0,0,0,0,0,5,-9,0,12039.07,140.648670
239,2021-12-21,0,0,0,0,0,0,0,0,-1,0,12179.72,285.008555
240,2021-12-22,0,0,0,0,0,0,0,0,0,0,12464.73,37.733826
241,2021-12-23,0,0,0,0,0,0,0,0,0,0,12502.46,-104.298096
242,2021-12-24,0,0,0,0,0,2,0,0,-9,0,12398.16,21.353862
243,2021-12-27,0,0,0,0,0,5,0,-8,-7,0,12419.51,57.110708
244,2021-12-28,0,0,0,0,0,0,0,1,-2,0,12476.63,99.102294
245,2021-12-29,0,0,0,0,0,0,0,0,0,0,12575.73,-54.540771
246,2021-12-30,0,0,0,0,0,0,0,0,1,0,12521.19,178.331221
247,2021-12-31,0,0,0,1,0,0,0,-1,-1,0,12699.52,418.465717
248,2022-01-03,0,0,0,0,0,0,0,0,0,0,13117.98,120.647400
249,2022-01-04,0,0,0,-1,0,0,0,0,0,0,13238.63,596.141049
250,2022-01-05,1,0,0,0,0,0,0,0,0,0,13834.77,-17.074596
251,2022-01-06,0,0,0,0,0,0,0,0,1,0,13817.70,-164.333792
252,2022-01-07,0,0,0,0,0,0,0,0,-1,0,13653.36,31.667102
253,2022-01-10,0,0,0,0,0,0,0,0,1,0,13685.03,19.967948
254,2022-01-11,0,0,0,0,0,-2,0,0,9,0,13705.00,35.608818
255,2022-01-12,0,0,0,0,0,-1,0,0,5,0,13740.61,205.108651
256,2022-01-13,-1,0,0,0,0,-1,0,3,1,0,13945.72,18.084215
257,2022-01-14,0,0,0,0,0,0,0,-3,5,0,13963.80,86.928137
258,2022-01-17,0,0,0,0,0,0,0,0,0,0,14050.73,-114.978333
259,2022-01-18,0,0,0,0,0,0,0,0,0,0,13935.75,-99.224854
260,2022-01-19,0,0,0,11,0,0,0,0,-21,0,13836.53,-269.147919
261,2022-01-20,0,0,0,0,0,0,0,0,0,0,13567.38,-457.150696
262,2022-01-21,0,0,0,0,0,0,0,0,0,0,13110.23,-275.116089
263,2022-01-24,0,0,0,0,0,-1,0,2,0,0,12835.11,527.939335
264,2022-01-25,0,0,0,0,0,0,0,-2,5,0,13363.05,199.011175
265,2022-01-27,0,0,0,-4,0,0,0,0,8,0,13562.06,-98.434799
266,2022-01-28,0,0,0,-2,0,-2,0,0,9,0,13463.63,344.160772
267,2022-01-31,0,0,0,1,0,0,0,0,0,0,13807.79,-335.991663
268,2022-02-01,0,0,0,0,0,0,0,0,1,0,13471.80,205.109890
269,2022-02-02,0,0,0,-6,0,3,0,0,0,0,13676.91,-229.781547
270,2022-02-03,0,0,0,0,0,0,0,0,0,0,13447.12,-73.911346
271,2022-02-04,0,0,0,0,0,0,0,0,0,0,13373.21,-219.630371
272,2022-02-07,0,0,0,1,0,2,0,0,-12,0,13153.58,192.319471
273,2022-02-08,0,0,0,1,0,2,0,0,-11,0,13345.90,190.551099
274,2022-02-09,0,0,0,-2,0,-1,0,1,7,0,13536.45,73.098576
275,2022-02-10,0,0,0,0,0,2,0,-1,-7,0,13609.55,-230.859560
276,2022-02-11,0,0,0,0,0,0,0,0,0,0,13378.69,-351.033203
277,2022-02-14,0,0,0,0,0,0,0,0,0,0,13027.66,560.677734
278,2022-02-15,0,0,0,0,0,0,0,0,0,0,13588.34,-82.210938
279,2022-02-16,0,0,0,0,0,0,0,0,1,0,13506.13,-74.422259
280,2022-02-17,0,0,0,0,0,0,0,0,-1,0,13431.70,-68.061864
281,2022-02-18,0,0,0,0,0,0,0,0,0,0,13363.64,-67.416016
282,2022-02-21,0,0,0,0,0,0,0,0,0,0,13296.23,141.708984
283,2022-02-22,0,0,0,0,0,-1,0,3,0,0,13437.93,-27.406292
284,2022-02-23,0,0,0,0,0,1,0,-3,0,0,13410.53,-714.180495
285,2022-02-24,0,0,0,0,0,0,0,0,1,0,12696.35,424.323892
286,2022-02-25,0,0,0,0,0,0,0,0,-1,0,13120.67,191.920442
287,2022-02-28,0,0,0,0,0,0,0,0,0,0,13312.59,32.348633
288,2022-03-02,0,0,0,4,0,-6,1,0,0,0,13344.94,-222.407611
289,2022-03-03,0,0,0,0,0,0,0,0,0,0,13122.53,-374.302490
290,2022-03-04,0,0,0,0,0,0,-1,10,0,0,12748.23,-178.424842
291,2022-03-07,0,0,0,2,0,3,0,-8,0,0,12569.81,59.920103
292,2022-03-08,2,0,0,0,0,0,0,-2,0,0,12629.73,352.338596
293,2022-03-09,0,0,0,0,0,0,0,0,0,0,12982.06,382.730591
294,2022-03-10,0,0,0,-6,0,2,0,0,3,0,13364.79,99.213775
295,2022-03-11,0,0,0,0,0,0,0,0,0,0,13464.01,71.878113
296,2022-03-14,1,0,0,0,0,0,0,0,-3,0,13535.89,-8.072258
297,2022-03-15,0,0,0,0,0,0,0,0,0,0,13527.81,298.508911
298,2022-03-16,0,0,0,0,0,0,0,0,1,0,13826.32,228.079120
299,2022-03-17,-3,0,0,3,0,0,0,0,-1,0,14054.40,-177.718591
300,2022-03-21,0,0,0,-3,0,1,0,0,2,0,13876.68,268.468954
301,2022-03-22,0,0,0,0,0,0,0,0,0,0,14145.15,-73.313110
302,2022-03-23,0,0,0,0,0,-5,1,2,0,0,14071.84,-37.473173
303,2022-03-24,0,0,0,0,0,5,-1,-2,0,0,14034.37,-57.393139
304,2022-03-25,0,0,0,0,0,0,0,0,0,0,13976.97,147.287598
305,2022-03-28,0,0,0,0,0,-6,1,4,0,0,14124.26,99.316360
306,2022-03-29,0,0,0,0,0,-2,0,0,9,0,14223.58,200.851464
307,2022-03-30,1,0,0,0,0,7,-1,-4,-8,0,14424.43,-68.996124
308,2022-03-31,0,0,0,0,0,0,0,0,1,0,14355.43,125.381055
309,2022-04-01,0,0,0,0,0,0,0,0,0,0,14480.81,95.364319
310,2022-04-04,0,0,0,0,0,0,0,0,0,0,14576.18,-235.644226
311,2022-04-05,-1,0,0,0,0,0,0,0,2,0,14340.53,-36.561122
312,2022-04-06,0,0,0,0,0,0,0,0,0,0,14303.97,-145.709473
313,2022-04-07,0,0,0,0,0,0,0,0,0,0,14158.26,158.632446
314,2022-04-08,0,0,0,0,0,0,0,0,-1,0,14316.90,-101.468539
315,2022-04-11,0,0,0,0,0,0,0,0,1,0,14215.43,-227.871687
316,2022-04-12,0,0,0,0,0,0,0,0,-1,0,13987.56,-167.778897
317,2022-04-13,1,0,0,0,0,1,0,0,-5,0,13819.78,-212.285545
318,2022-04-18,-1,0,0,0,0,0,0,0,2,0,13607.49,-78.837385
319,2022-04-19,0,0,0,0,0,0,0,0,-1,0,13528.65,-155.452574
320,2022-04-20,0,0,0,0,0,0,0,1,-1,0,13373.20,256.362098
321,2022-04-21,0,0,0,0,0,-6,1,3,1,0,13629.56,-115.010154
322,2022-04-22,0,0,0,0,0,0,0,0,0,0,13514.55,-163.565613
323,2022-04-25,0,0,0,0,0,0,0,0,0,0,13350.99,338.620422
324,2022-04-26,0,0,0,0,0,0,0,0,0,0,13689.61,-667.458740
325,2022-04-27,0,0,0,0,0,0,0,0,0,0,13022.15,32.868866
326,2022-04-28,0,0,0,0,0,0,0,0,-1,0,13055.02,-109.395191
327,2022-04-29,0,0,0,0,0,0,-1,-4,27,0,12945.62,92.198212
328,2022-05-02,0,0,0,0,0,0,0,0,0,0,13037.82,-206.554413
329,2022-05-04,0,0,0,0,0,0,0,0,0,0,12831.27,-101.633362
330,2022-05-05,0,0,0,0,0,0,0,0,0,0,12729.63,-197.887390
331,2022-05-06,0,0,0,0,0,0,0,0,0,0,12531.75,-74.819183
332,2022-05-09,0,0,0,1,0,0,0,0,-1,0,12456.93,-34.415316
333,2022-05-10,0,0,0,0,0,2,0,0,-9,0,12422.51,-219.430835
334,2022-05-11,0,0,0,-1,0,0,0,0,3,0,12203.08,-333.793869
335,2022-05-12,0,0,0,0,0,0,0,0,0,0,11869.29,-155.887207
336,2022-05-13,0,0,0,0,0,0,0,0,0,0,11713.40,2.066895
337,2022-05-16,0,0,0,0,0,0,0,0,0,0,11715.47,251.499023
338,2022-05-17,0,0,0,0,0,4,0,0,-16,0,11966.97,-219.941317
339,2022-05-18,0,1,0,0,0,-3,0,0,1,0,11747.02,-310.536237
340,2022-05-19,0,0,0,0,0,1,0,0,-5,0,11436.49,121.885006
341,2022-05-20,0,0,0,0,0,0,0,0,0,0,11558.37,55.467529
342,2022-05-23,0,0,0,0,0,0,0,0,0,0,11613.84,-214.266113
343,2022-05-24,0,0,0,0,0,0,0,0,0,0,11399.57,-77.672607
344,2022-05-25,0,-1,0,0,0,0,0,5,1,0,11321.90,61.108581
345,2022-05-26,0,0,0,0,0,0,0,0,0,0,11383.01,120.318634
346,2022-05-27,0,0,0,0,0,-1,0,2,0,0,11503.33,188.935729
347,2022-05-30,0,0,0,0,0,0,0,0,-1,0,11692.26,12.664395
348,2022-05-31,0,0,0,0,0,0,0,0,1,0,11704.93,-207.834812
349,2022-06-01,0,0,0,0,0,0,0,0,0,0,11497.09,181.990509
350,2022-06-02,0,0,0,1,0,0,0,-1,0,0,11679.08,-195.395943
351,2022-06-03,0,0,0,2,0,0,0,-2,-1,0,11483.69,-120.024181
352,2022-06-06,0,0,0,0,0,0,0,0,0,0,11363.66,-98.481140
353,2022-06-07,0,0,0,0,0,0,0,0,0,0,11265.18,-46.200012
354,2022-06-08,0,1,0,-2,0,-5,0,-1,9,0,11218.98,139.850757
355,2022-06-09,0,0,0,0,0,0,0,7,-9,0,11358.83,-7.798045
356,2022-06-10,0,-1,0,7,0,0,0,-1,0,0,11351.04,-121.199129
357,2022-06-13,0,0,0,0,0,0,0,0,0,0,11229.84,110.700012
358,2022-06-14,0,0,0,0,0,0,0,0,0,0,11340.54,-1.548889

In [24]:
predict = processed_full.iloc[-20:, :]
predict

,aroond_14,aroonosc_14,aroonu_14,bbb_5_2.0,bbl_5_2.0,bbm_5_2.0,bbp_5_2.0,bbu_5_2.0,cdl_doji_10_0.1,cdl_inside,...,tweets_sentiment,visibility,volume,vwma_10,vwma_20,vwma_50,windspeedkmph,wma_10,wma_20,wma_50
22580,85.714286,-78.571429,7.142857,8.878574,535.703804,560.590002,0.526320,585.476201,0.0,0,...,0.048578,9.4,3442489,566.653105,530.415168,583.234828,11.0,564.376369,564.022624,634.472671
22581,42.857143,14.285714,57.142857,2.236382,4405.634578,4455.455078,0.199370,4505.275578,0.0,0,...,0.102120,9.4,88243,4510.111756,4437.345100,4455.698744,11.0,4485.419114,4448.857645,4393.283776
22582,85.714286,-21.428571,64.285714,6.145853,2672.201898,2756.920020,0.324005,2841.638141,0.0,-1,...,-0.089100,9.4,204058,2771.328400,2761.634506,2868.145236,11.0,2768.520930,2776.729781,2821.031257
22583,78.571429,-78.571429,0.000000,2.865979,832.102692,844.199988,0.650860,856.297283,0.0,0,...,-0.100568,9.4,2516315,852.583535,862.349444,899.258866,11.0,848.156357,856.013804,883.276742
22584,100.000000,-35.714286,64.285714,6.176448,3692.958896,3810.639990,0.002512,3928.321084,0.0,0,...,-0.053818,9.4,358152,3840.664990,3842.351921,3749.153051,11.0,3830.011821,3847.799769,3773.409882
22585,0.000000,50.000000,50.000000,4.740593,1331.122418,1363.439990,0.384892,1395.757563,100.0,0,...,-0.237867,9.4,331051,1393.519819,1355.970690,1407.772793,11.0,1375.691810,1379.263334,1381.394195
22586,0.000000,21.428571,21.428571,4.856420,6084.108490,6235.520020,0.254246,6386.931549,0.0,0,...,0.023062,9.4,161217,6341.473426,6155.946826,6140.299423,11.0,6277.752752,6297.352402,6174.354120
22587,100.000000,-100.000000,0.000000,6.167557,739.751831,763.290002,0.115731,786.828174,0.0,0,...,-0.088080,9.4,3056050,771.340669,773.958863,781.205952,11.0,766.384550,771.395719,776.828513
22588,100.000000,-71.428571,28.571429,2.542183,315.912761,319.979999,0.268886,324.047237,100.0,0,...,0.129694,9.4,591543,324.720625,331.154097,336.410324,11.0,322.074545,326.253810,333.764629
22589,100.000000,-78.571429,21.428571,2.694160,4400.156943,4460.239941,0.159303,4520.322939,0.0,0,...,-0.008758,9.4,41922,4507.500917,4527.239117,4441.108980,11.0,4474.441752,4520.904267,4463.047212
22590,78.571429,-78.571429,0.000000,5.336631,542.731204,557.609998,0.855876,572.488791,0.0,0,...,-0.071625,9.6,4129432,566.779974,525.836036,581.029055,12.4,564.562731,565.005241,629.356357
22591,35.714286,14.285714,50.000000,1.092488,4422.360148,4446.649707,0.315775,4470.939266,100.0,-1,...,-0.401800,9.6,41367,4521.085129,4450.106390,4453.522716,12.4,4478.751758,4453.703650,4394.342420
22592,78.571429,-21.428571,57.142857,4.204399,2690.574151,2748.349951,0.526828,2806.125752,100.0,0,...,0.022057,9.6,189027,2770.151836,2765.598046,2864.226738,12.4,2766.827251,2776.853090,2816.543914
22593,71.428571,-71.428571,0.000000,3.520248,831.855960,846.759985,0.620437,861.664010,0.0,-1,...,-0.012184,9.6,1839699,850.952901,860.931254,897.903804,12.4,848.802717,855.521421,881.486702
22594,92.857143,-35.714286,57.142857,9.124872,3600.362994,3772.479980,0.289446,3944.596967,0.0,1,...,0.072253,9.6,222396,3789.461912,3818.292272,3745.765592,12.4,3793.235463,3828.741439,3770.916001
22595,78.571429,-35.714286,42.857143,1.552759,1346.573662,1357.109985,0.696464,1367.646308,0.0,0,...,-0.401800,9.6,210506,1390.420917,1356.912099,1404.452858,12.4,1370.994542,1378.764050,1379.231883
22596,78.571429,-64.285714,14.285714,0.960909,6177.337366,6207.159961,0.447856,6236.982556,0.0,0,...,-0.110100,9.6,136611,6307.047573,6182.614479,6134.627740,12.4,6259.451784,6297.733564,6175.402304
22597,92.857143,-35.714286,57.142857,4.080136,743.653029,759.140002,0.224284,774.626976,0.0,0,...,-0.079589,9.6,872371,769.211371,773.430319,779.336408,12.4,763.800001,769.840242,775.734317
22598,92.857143,-71.428571,21.428571,1.516905,317.116443,319.540002,0.326703,321.963561,0.0,0,...,-0.051423,9.6,418082,324.087262,328.468663,336.104208,12.4,321.390912,325.460240,333.192983
22599,92.857143,-78.571429,14.285714,2.844524,4375.441821,4438.569922,0.400836,4501.698022,0.0,1,...,-0.017335,9.6,35208,4486.929077,4543.118962,4438.486550,12.4,4455.032662,4508.126646,4461.835211

In [25]:
predict.date.values[0]

numpy.datetime64('2023-02-27T00:00:00.000000000')

In [26]:
predict = predict.sort_values(['date', "tic"], ignore_index=True)
predict.index = predict['date'].factorize()[0]
predict

,aroond_14,aroonosc_14,aroonu_14,bbb_5_2.0,bbl_5_2.0,bbm_5_2.0,bbp_5_2.0,bbu_5_2.0,cdl_doji_10_0.1,cdl_inside,...,tweets_sentiment,visibility,volume,vwma_10,vwma_20,vwma_50,windspeedkmph,wma_10,wma_20,wma_50
0,85.714286,-78.571429,7.142857,8.878574,535.703804,560.590002,0.526320,585.476201,0.0,0,...,0.048578,9.4,3442489,566.653105,530.415168,583.234828,11.0,564.376369,564.022624,634.472671
0,42.857143,14.285714,57.142857,2.236382,4405.634578,4455.455078,0.199370,4505.275578,0.0,0,...,0.102120,9.4,88243,4510.111756,4437.345100,4455.698744,11.0,4485.419114,4448.857645,4393.283776
0,85.714286,-21.428571,64.285714,6.145853,2672.201898,2756.920020,0.324005,2841.638141,0.0,-1,...,-0.089100,9.4,204058,2771.328400,2761.634506,2868.145236,11.0,2768.520930,2776.729781,2821.031257
0,78.571429,-78.571429,0.000000,2.865979,832.102692,844.199988,0.650860,856.297283,0.0,0,...,-0.100568,9.4,2516315,852.583535,862.349444,899.258866,11.0,848.156357,856.013804,883.276742
0,100.000000,-35.714286,64.285714,6.176448,3692.958896,3810.639990,0.002512,3928.321084,0.0,0,...,-0.053818,9.4,358152,3840.664990,3842.351921,3749.153051,11.0,3830.011821,3847.799769,3773.409882
0,0.000000,50.000000,50.000000,4.740593,1331.122418,1363.439990,0.384892,1395.757563,100.0,0,...,-0.237867,9.4,331051,1393.519819,1355.970690,1407.772793,11.0,1375.691810,1379.263334,1381.394195
0,0.000000,21.428571,21.428571,4.856420,6084.108490,6235.520020,0.254246,6386.931549,0.0,0,...,0.023062,9.4,161217,6341.473426,6155.946826,6140.299423,11.0,6277.752752,6297.352402,6174.354120
0,100.000000,-100.000000,0.000000,6.167557,739.751831,763.290002,0.115731,786.828174,0.0,0,...,-0.088080,9.4,3056050,771.340669,773.958863,781.205952,11.0,766.384550,771.395719,776.828513
0,100.000000,-71.428571,28.571429,2.542183,315.912761,319.979999,0.268886,324.047237,100.0,0,...,0.129694,9.4,591543,324.720625,331.154097,336.410324,11.0,322.074545,326.253810,333.764629
0,100.000000,-78.571429,21.428571,2.694160,4400.156943,4460.239941,0.159303,4520.322939,0.0,0,...,-0.008758,9.4,41922,4507.500917,4527.239117,4441.108980,11.0,4474.441752,4520.904267,4463.047212
1,78.571429,-78.571429,0.000000,5.336631,542.731204,557.609998,0.855876,572.488791,0.0,0,...,-0.071625,9.6,4129432,566.779974,525.836036,581.029055,12.4,564.562731,565.005241,629.356357
1,35.714286,14.285714,50.000000,1.092488,4422.360148,4446.649707,0.315775,4470.939266,100.0,-1,...,-0.401800,9.6,41367,4521.085129,4450.106390,4453.522716,12.4,4478.751758,4453.703650,4394.342420
1,78.571429,-21.428571,57.142857,4.204399,2690.574151,2748.349951,0.526828,2806.125752,100.0,0,...,0.022057,9.6,189027,2770.151836,2765.598046,2864.226738,12.4,2766.827251,2776.853090,2816.543914
1,71.428571,-71.428571,0.000000,3.520248,831.855960,846.759985,0.620437,861.664010,0.0,-1,...,-0.012184,9.6,1839699,850.952901,860.931254,897.903804,12.4,848.802717,855.521421,881.486702
1,92.857143,-35.714286,57.142857,9.124872,3600.362994,3772.479980,0.289446,3944.596967,0.0,1,...,0.072253,9.6,222396,3789.461912,3818.292272,3745.765592,12.4,3793.235463,3828.741439,3770.916001
1,78.571429,-35.714286,42.857143,1.552759,1346.573662,1357.109985,0.696464,1367.646308,0.0,0,...,-0.401800,9.6,210506,1390.420917,1356.912099,1404.452858,12.4,1370.994542,1378.764050,1379.231883
1,78.571429,-64.285714,14.285714,0.960909,6177.337366,6207.159961,0.447856,6236.982556,0.0,0,...,-0.110100,9.6,136611,6307.047573,6182.614479,6134.627740,12.4,6259.451784,6297.733564,6175.402304
1,92.857143,-35.714286,57.142857,4.080136,743.653029,759.140002,0.224284,774.626976,0.0,0,...,-0.079589,9.6,872371,769.211371,773.430319,779.336408,12.4,763.800001,769.840242,775.734317
1,92.857143,-71.428571,21.428571,1.516905,317.116443,319.540002,0.326703,321.963561,0.0,0,...,-0.051423,9.6,418082,324.087262,328.468663,336.104208,12.4,321.390912,325.460240,333.192983
1,92.857143,-78.571429,14.285714,2.844524,4375.441821,4438.569922,0.400836,4501.698022,0.0,1,...,-0.017335,9.6,35208,4486.929077,4543.118962,4438.486550,12.4,4455.032662,4508.126646,4461.835211

In [27]:
predict_env = StockTradingEnv(
    df=predict, turbulence_threshold=100, risk_indicator_col='turbulence', **env_kwargs)

In [35]:
predict.replace('--', 0, inplace=True)

In [37]:
cwd = 'trained_model/PPO.zip'
assets, actions, rewards = DRLAgent.DRL_prediction_load_from_file(
    'ppo', predict_env, cwd, deterministic=True)

hit end!

In [38]:
assets

        date  account_value
0 2023-02-27   10000.000000
1 2023-02-28   10016.395109

In [39]:
actions

,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA
date,,,,,,,,,,
2023-02-27,0,2,0,0,0,0,0,0,3,0

In [40]:
rewards

        date    rewards
0 2023-02-27  16.395109

In [ ]:
print("==============Get Backtest Results===========")
now = datetime.now().strftime('%Y%m%d-%Hh%M')

perf_stats_all = backtest_stats(account_value=df_account_value)
perf_stats_all = pd.DataFrame(perf_stats_all)
perf_stats_all.to_csv("./"+RESULTS_DIR+"/perf_stats_all_"+now+'.csv')

==============Get Backtest Results===========

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
df_account_value

           date account_value
0    2021-01-01    1000000.00
1    2021-01-04     999967.80
2    2021-01-05     999798.62
3    2021-01-06     999538.50
4    2021-01-07     999928.83
5    2021-01-08    1000164.19
6    2021-01-11     999315.22
7    2021-01-12    1000072.15
8    2021-01-13     998479.00
9    2021-01-14     998239.67
10   2021-01-15     998125.59
11   2021-01-18     994950.99
12   2021-01-19    1000966.03
13   2021-01-20    1002065.40
14   2021-01-21    1006200.25
15   2021-01-22    1001457.91
16   2021-01-25    1001228.72
17   2021-01-27    1000738.25
18   2021-01-28    1000442.25
19   2021-01-29     999452.01
20   2021-02-01    1004384.63
21   2021-02-02    1006064.98
22   2021-02-03    1007593.21
23   2021-02-04    1014315.12
24   2021-02-05    1014934.41
25   2021-02-08    1013733.35
26   2021-02-09    1010552.60
27   2021-02-10    1013070.84
28   2021-02-11    1016618.92
29   2021-02-12    1016988.67
30   2021-02-15    1024894.41
31   2021-02-16    1023955.50
32   2021-02-17    1021219.17
33   2021-02-18    1015688.47
34   2021-02-19    1012118.78
35   2021-02-22    1006431.49
36   2021-02-23    1006381.57
37   2021-02-24    1016034.70
38   2021-02-25    1015426.19
39   2021-02-26     998869.86
40   2021-03-01     999526.35
41   2021-03-02    1003545.27
42   2021-03-03    1017429.24
43   2021-03-04    1014645.10
44   2021-03-05    1011810.25
45   2021-03-08    1003916.35
46   2021-03-09    1009423.03
47   2021-03-10    1017951.29
48   2021-03-12    1017311.65
49   2021-03-15    1008807.80
50   2021-03-16    1010388.16
51   2021-03-17    1001993.76
52   2021-03-18    1002322.88
53   2021-03-19    1009102.22
54   2021-03-22    1006558.95
55   2021-03-23    1006506.73
56   2021-03-24     996033.76
57   2021-03-25     981873.17
58   2021-03-26     988811.30
59   2021-03-30     991194.31
60   2021-04-01     999097.52
61   2021-04-05     973573.97
62   2021-04-06     981868.75
63   2021-04-07     989701.17
64   2021-04-08     986618.95
65   2021-04-09     972278.49
66   2021-04-12     934023.15
67   2021-04-13     953403.11
68   2021-04-15     947933.91
69   2021-04-16     944639.85
70   2021-04-19     929253.89
71   2021-04-20     941984.44
72   2021-04-22     950338.35
73   2021-04-23     946041.32
74   2021-04-26     952859.89
75   2021-04-27     967557.95
76   2021-04-28    1010203.67
77   2021-04-29    1030977.73
78   2021-05-03    1039619.06
79   2021-05-04    1046463.38
80   2021-05-05    1034648.75
81   2021-05-06    1035990.37
82   2021-05-07    1034811.51
83   2021-05-10    1035140.65
84   2021-05-11    1026084.63
85   2021-05-12    1016839.05
86   2021-05-14    1015305.90
87   2021-05-17    1027941.82
88   2021-05-18    1060283.70
89   2021-05-19    1052137.40
90   2021-05-20    1044057.92
91   2021-05-21    1051692.07
92   2021-05-24    1046786.94
93   2021-05-25    1050657.41
94   2021-05-26    1069648.53
95   2021-05-27    1057242.17
96   2021-05-28    1049961.89
97   2021-06-01    1075910.22
98   2021-06-02    1079651.03
99   2021-06-03    1094060.68
100  2021-06-04    1106844.42
101  2021-06-07    1075535.98
102  2021-06-08    1080561.80
103  2021-06-09    1066666.61
104  2021-06-10    1123731.60
105  2021-06-11    1127151.23
106  2021-06-14    1132058.54
107  2021-06-15    1128845.01
108  2021-06-16    1112162.40
109  2021-06-17    1102211.64
110  2021-06-18    1112187.28
111  2021-06-21    1119965.88
112  2021-06-22    1105680.31
113  2021-06-23    1102922.17
114  2021-06-24    1106703.80
115  2021-06-25    1112138.53
116  2021-06-28    1105989.77
117  2021-06-29    1106635.54
118  2021-07-01    1092766.60
119  2021-07-02    1097528.38
120  2021-07-05    1108085.73
121  2021-07-06    1127194.11
122  2021-07-07    1128369.26
123  2021-07-08    1116143.78
124  2021-07-09    1121768.89
125  2021-07-12    1121492.55
126  2021-07-13    1121270.72
127  2021-07-14    1117851.55
128  2021-07-15    1116118.24
129  2021-07-16    1117296.89
130  2021-07-19    1099638.01
131  2021-07-20    1088441.69
132  2021-07-22    1129939.41
133  2021-07-23    1127029.95
134  2021-07-26    1124009.14
135  2021-07-27    1130981.89
136  2021-07-28    1140275.30
137  2021-07-29    1159369.86
138  2021-07-30    1134599.26
139  2021-08-02    1133859.94
140  2021-08-03    1158124.79
141  2021-08-04    1159961.39
142  2021-08-05    1148748.80
143  2021-08-06    1148528.94
144  2021-08-09    1141811.97
145  2021-08-10    1142360.96
146  2021-08-11    1142164.11
147  2021-08-12    1147631.60
148  2021-08-13    1143740.35
149  2021-08-16    1176285.17
150  2021-08-17    1178536.14
151  2021-08-18    1198838.12
152  2021-08-20    1214298.69
153  2021-08-23    1226937.82
154  2021-08-24    1261519.11
155  2021-08-25    1257932.49
156  2021-08-26    1251978.24
157  2021-08-27    1259417.22
158  2021-08-30    1294305.41
159  2021-09-01    1357013.14
160  2021-09-02    1355839.64
161  2021-09-03    1358353.99
162  2021-09-06    1354120.21
163  2021-09-07    1349978.12
164  2021-09-08    1349979.74
165  2021-09-09    1349545.26
166  2021-09-13    1352996.50
167  2021-09-14    1347653.83
168  2021-09-15    1354557.46
169  2021-09-16    1352981.40
170  2021-09-17    1356909.70
171  2021-09-20    1356680.72
172  2021-09-21    1410651.35
173  2021-09-22    1407077.84
174  2021-09-23    1423099.25
175  2021-09-24    1409400.19
176  2021-09-27    1409184.72
177  2021-09-28    1365896.16
178  2021-09-29    1361399.84
179  2021-10-01    1357232.48
180  2021-10-04    1383917.99
181  2021-10-05    1391717.73
182  2021-10-06    1390220.50
183  2021-10-07    1393118.70
184  2021-10-08    1391665.20
185  2021-10-11    1402154.14
186  2021-10-12    1407077.89
187  2021-10-13    1421035.26
188  2021-10-14    1416549.12
189  2021-10-18    1414877.79
190  2021-10-19    1394239.97
191  2021-10-20    1403004.06
192  2021-10-21    1394654.05
193  2021-10-22    1388208.67
194  2021-10-25    1376519.29
195  2021-10-26    1408300.17
196  2021-10-27    1355308.52
197  2021-10-28    1346549.55
198  2021-10-29    1333917.56
199  2021-11-01    1342847.14
200  2021-11-02    1348957.74
201  2021-11-03    1354747.12
202  2021-11-04    1357219.71
203  2021-11-08    1382974.00
204  2021-11-09    1369501.41
205  2021-11-10    1375706.36
206  2021-11-11    1354684.91
207  2021-11-12    1378254.41
208  2021-11-15    1371179.71
209  2021-11-16    1371775.77
210  2021-11-17    1375043.25
211  2021-11-18    1354563.30
212  2021-11-22    1297317.57
213  2021-11-23    1311293.41
214  2021-11-24    1323603.90
215  2021-11-25    1316717.32
216  2021-11-26    1259972.80
217  2021-11-29    1272355.28
218  2021-12-01    1288801.87
219  2021-12-02    1315471.65
220  2021-12-03    1296029.26
221  2021-12-06    1272536.91
222  2021-12-07    1296813.00
223  2021-12-08    1340617.20
224  2021-12-09    1353318.64
225  2021-12-10    1354297.85
226  2021-12-13    1317379.97
227  2021-12-14    1293457.68
228  2021-12-15    1258066.07
229  2021-12-16    1283692.65
230  2021-12-17    1259401.10
231  2021-12-20    1215853.36
232  2021-12-21    1212633.05
233  2021-12-22    1243740.80
234  2021-12-23    1265424.18
235  2021-12-24    1254378.27
236  2021-12-27    1259458.05
237  2021-12-28    1263795.67
238  2021-12-29    1263235.72

In [ ]:
# baseline stats
print("==============Get Baseline Stats===========")
baseline_df = get_baseline(
    ticker="BPCL.NS",
    start=df_account_value.loc[0, 'date'],
    end=df_account_value.loc[len(df_account_value)-1, 'date'])

stats = backtest_stats(baseline_df, value_col_name='close')

==============Get Baseline Stats===========
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (245, 8)
Annual return          0.145942
Cumulative returns     0.141614
Annual volatility      0.261816
Sharpe ratio           0.653568
Calmar ratio           0.686717
Stability              0.204899
Max drawdown          -0.212521
Omega ratio            1.115651
Sortino ratio          0.916846
Skew                        NaN
Kurtosis                    NaN
Tail ratio             0.989570
Daily value at risk   -0.032307
dtype: float64

/home/bhumika/Desktop/FinRL-master/finrl/meta/preprocessor/yahoodownloader.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_df = data_df.append(temp_df)
/home/bhumika/.local/lib/python3.8/site-packages/pyfolio/timeseries.py:724: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  stats = pd.Series()

In [ ]:
df_account_value.loc[0, 'date']

datetime.date(2021, 1, 1)

In [ ]:
df_account_value.loc[len(df_account_value)-1, 'date']

datetime.date(2021, 12, 29)

In [ ]:
%matplotlib inline
backtest_plot(df_account_value, 
             baseline_ticker = 'BPCL.NS', 
             baseline_start = df_account_value.loc[0,'date'],
             baseline_end = df_account_value.loc[len(df_account_value)-1,'date'])

==============Compare to DJIA===========
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (245, 8)

/home/bhumika/Desktop/FinRL-master/finrl/meta/preprocessor/yahoodownloader.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_df = data_df.append(temp_df)
/home/bhumika/.local/lib/python3.8/site-packages/pyfolio/timeseries.py:724: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  stats = pd.Series()
/home/bhumika/.local/lib/python3.8/site-packages/pyfolio/plotting.py:648: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for stat, value in perf_stats[column].iteritems():

AttributeError: 'numpy.int64' object has no attribute 'to_pydatetime'